Repository tractr/traxion: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,json}": "prettier --write",
  "*.{js,jsx,ts,tsx,html,json}": "eslint --fix"
}

fix: update release post targets names to be able to publish on npmjs
  workspace/project.json
Due: prettier --write, eslint --fix

fix: use https://npm.pkg.github.com as the default registry url
  .github/workflows/release-docker.yml
  .github/workflows/release-npm.yml
  .github/workflows/stack-docs.yml
  .github/workflows/stack-e2e.yml
  .github/workflows/stack-release.yml
  .github/workflows/stack-test.yml
  libs/hapify/create-traxion-workspace/src/index.ts
  libs/schematics/src/generators/github-workflows/files/release/workflows/release.yml__template__
  libs/schematics/src/generators/github-workflows/files/test/workflows/test.yml__template__
  libs/schematics/src/generators/init-workspace/helpers/add-npmrc.helper.ts
  libs/schematics/src/generators/npm-publish/README.md
  libs/schematics/src/generators/npm-publish/generator.spec.ts
  libs/schematics/src/generators/npm-publish/generator.ts
  libs/schematics/src/generators/npm-publish/schema.json
  package.json
  workspace/project.json
Due: prettier --write, eslint --fix

fix: update react-admin and api to allow null in nullable relations
  hapify-models.json
  libs/hapify/templates/nestjs-models-rest/hapify/generated/nestjs-models-rest/src/__kebab__/services/__kebab__-rest-dto.service.ts.hpf
  libs/hapify/templates/react-admin/hapify/generated/react-admin/helpers/format-data.helper.ts.hpf
  libs/hapify/templates/react-admin/hapify/generated/react-admin/resources/__pascal__/Read.tsx.hpf
  libs/hapify/templates/react-admin/hapify/generated/react-admin/resources/__pascal__/Write.tsx.hpf
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix: update react-admin and api to allow null in nullable relations (#533)
  hapify-models.json
  libs/hapify/templates/nestjs-models-rest/hapify/generated/nestjs-models-rest/src/__kebab__/services/__kebab__-rest-dto.service.ts.hpf
  libs/hapify/templates/react-admin/hapify/generated/react-admin/helpers/format-data.helper.ts.hpf
  libs/hapify/templates/react-admin/hapify/generated/react-admin/resources/__pascal__/Read.tsx.hpf
  libs/hapify/templates/react-admin/hapify/generated/react-admin/resources/__pascal__/Write.tsx.hpf
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

wip: working on a way to handle many-many relation in ra
  libs/hapify/templates/react-admin/hapify/generated/react-admin/helpers/ReferenceManyManyInput.tsx
Due: prettier --write, eslint --fix

fix: update api and admin to fix relation filters
  hapify-models.json
  libs/hapify/templates/nestjs-models-rest/hapify/generated/nestjs-models-rest/src/__kebab__/controllers/__kebab__.controller.spec.ts.hpf
  libs/hapify/templates/react-admin/.hapifyrc.js
  libs/hapify/templates/react-admin/hapify/generated/react-admin/providers/rext.provider.ts.hpf
  libs/hapify/templates/react-admin/hapify/generated/react-admin/resources/__pascal__/Filter.tsx.hpf
  libs/hapify/templates/react-admin/hapify/generated/react-admin/resources/__pascal__/Read.tsx.hpf
  libs/hapify/templates/react-admin/hapify/generated/react-admin/resources/__pascal__/filter-default-operators.ts.hpf
  libs/hapify/templates/react-admin/hapify/generated/react-admin/resources/__pascal__/index.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-count-query.dto.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-find-many-query.dto.ts.hpf
Due: prettier --write, eslint --fix

fix: add array validators to rest dtos
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-create-body.dto.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-update-body.dto.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-upsert-body-with-primary.dto.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-upsert-body.dto.ts.hpf
Due: none

fix: update api and admin to fix relation filters (#535)
  hapify-models.json
  libs/hapify/templates/nestjs-models-rest/hapify/generated/nestjs-models-rest/src/__kebab__/controllers/__kebab__.controller.spec.ts.hpf
  libs/hapify/templates/react-admin/.hapifyrc.js
  libs/hapify/templates/react-admin/hapify/generated/react-admin/providers/rext.provider.ts.hpf
  libs/hapify/templates/react-admin/hapify/generated/react-admin/resources/__pascal__/Filter.tsx.hpf
  libs/hapify/templates/react-admin/hapify/generated/react-admin/resources/__pascal__/Read.tsx.hpf
  libs/hapify/templates/react-admin/hapify/generated/react-admin/resources/__pascal__/filter-default-operators.ts.hpf
  libs/hapify/templates/react-admin/hapify/generated/react-admin/resources/__pascal__/index.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-count-query.dto.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-find-many-query.dto.ts.hpf
Due: prettier --write, eslint --fix

fix: add array validators to rest dtos (#538)
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-create-body.dto.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-update-body.dto.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-upsert-body-with-primary.dto.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-upsert-body.dto.ts.hpf
Due: none

feat: update nx to 14.8
  .vscode/settings.json
  apps/admin/project.json
  apps/api/project.json
  apps/pwa-e2e/cypress.config.ts
  apps/pwa/project.json
  apps/terraform/project.json
  libs/common/src/lib/validator-transformer/validators/json-filter-validate.ts
  libs/generated/nestjs-models-common/src/index.js
  libs/generated/nestjs-models-common/src/index.js.map
  libs/generated/nestjs-models-rest/src/index.d.ts
  libs/generated/nestjs-models-rest/src/index.js
  libs/generated/nestjs-models-rest/src/index.js.map
  libs/generated/prisma/project.json
  libs/terraform/component/aws/src/lib/helpers/config.helper.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix: remove build target from generated test librairies
  libs/generated/angular-rext-client/project.json
  libs/generated/casl/project.json
  libs/generated/dbml/project.json
  libs/generated/models/project.json
  libs/generated/nestjs-graphql/project.json
  libs/generated/nestjs-models-common/project.json
  libs/generated/nestjs-models-rest/project.json
  libs/generated/nestjs-models/project.json
  libs/generated/react-admin/project.json
  libs/generated/rest-dtos/project.json
  libs/generated/rext-client/project.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

feat: update all minor packages
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix: update minor packages updates
  libs/hapify/templates/casl/hapify/generated/casl/src/interfaces/subjects.interface.ts.hpf
  libs/hapify/templates/nestjs-models-common/hapify/generated/nestjs-models-common/src/__kebab__/services/__kebab__-database.service.ts.hpf
  libs/nestjs/core/mocks/prisma-exception-endpoint-mock.controller.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix: update schematics tests
  libs/schematics/jest.config.ts
  libs/schematics/src/generators/pwa-app/generator.ts
  libs/schematics/src/generators/target-generate/generator.spec.ts
Due: prettier --write, eslint --fix

feat: update nx and all minor dependencies (#539)
  .vscode/settings.json
  apps/admin/project.json
  apps/api/project.json
  apps/pwa-e2e/cypress.config.ts
  apps/pwa/project.json
  apps/terraform/project.json
  libs/common/src/lib/validator-transformer/validators/json-filter-validate.ts
  libs/generated/angular-rext-client/project.json
  libs/generated/casl/project.json
  libs/generated/dbml/project.json
  libs/generated/models/project.json
  libs/generated/nestjs-graphql/project.json
  libs/generated/nestjs-models-common/project.json
  libs/generated/nestjs-models-common/src/index.js
  libs/generated/nestjs-models-common/src/index.js.map
  libs/generated/nestjs-models-rest/project.json
  libs/generated/nestjs-models-rest/src/index.d.ts
  libs/generated/nestjs-models-rest/src/index.js
  libs/generated/nestjs-models-rest/src/index.js.map
  libs/generated/nestjs-models/project.json
  libs/generated/prisma/project.json
  libs/generated/react-admin/project.json
  libs/generated/rest-dtos/project.json
  libs/generated/rext-client/project.json
  libs/hapify/templates/casl/hapify/generated/casl/src/interfaces/subjects.interface.ts.hpf
  libs/hapify/templates/nestjs-models-common/hapify/generated/nestjs-models-common/src/__kebab__/services/__kebab__-database.service.ts.hpf
  libs/nestjs/core/mocks/prisma-exception-endpoint-mock.controller.ts
  libs/schematics/jest.config.ts
  libs/schematics/src/generators/pwa-app/generator.ts
  libs/schematics/src/generators/target-generate/generator.spec.ts
  libs/terraform/component/aws/src/lib/helpers/config.helper.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix: add allow empty release to the release gitaction to publish each time we push on main
  .github/workflows/release-npm.yml
Due: none

ci: update workflows to use nx cloud distributed task
  .github/workflows/stack-test.yml
  .github/workflows/test-nx-cloud.yml
Due: none

fix: add agents NX_CLOUD_ACCESS_TOKEN secrets
  .github/workflows/test-nx-cloud.yml
Due: none

feat: add distributed cache with nx
  .github/workflows/test-nx-cloud.yml
Due: none

fix: remove NX_CLOUD_AUTH_TOKEN alias
  .github/workflows/test-nx-cloud.yml
Due: none

fix: update hapify-templates-nestjs-models-rest tests to handle filters on manyMany
  hapify-models.json
  libs/hapify/templates/nestjs-models-rest/hapify/generated/nestjs-models-rest/src/__kebab__/controllers/__kebab__.controller.spec.ts.hpf
Due: prettier --write, eslint --fix

fix: update hapify-templates-nestjs-models-rest tests to handle filters on manyMany (#541)
  hapify-models.json
  libs/hapify/templates/nestjs-models-rest/hapify/generated/nestjs-models-rest/src/__kebab__/controllers/__kebab__.controller.spec.ts.hpf
Due: prettier --write, eslint --fix

fix: update unit-test to handle ownership system fields
  hapify-models.json
  libs/hapify/templates/nestjs-models-rest/hapify/generated/nestjs-models-rest/src/__kebab__/controllers/__kebab__.controller.spec.ts.hpf
Due: prettier --write, eslint --fix

fix: update unit-test to handle ownership system fields (#540)
  hapify-models.json
  libs/hapify/templates/nestjs-models-rest/hapify/generated/nestjs-models-rest/src/__kebab__/controllers/__kebab__.controller.spec.ts.hpf
Due: prettier --write, eslint --fix

fix: update error management in angular-authentication to have details errors
  libs/angular/authentication/src/lib/services/session.service.ts
Due: prettier --write, eslint --fix

fix: update error management in angular-authentication to have details errors (#542)
  libs/angular/authentication/src/lib/services/session.service.ts
Due: prettier --write, eslint --fix

docs: rewrite README
  README.md
Due: prettier --write

docs: add h1 title
  README.md
Due: prettier --write

docs: update README.md
  README.md
Due: prettier --write

docs: fix typo
  README.md
Due: prettier --write

docs: rewrite README (#543)
  README.md
Due: prettier --write

feat: add hapify metadata to handle composite uniquess indexes
  hapify-models.json
  libs/config/hapify/validator.js
  libs/hapify/templates/prisma/hapify/prisma/schemas/generated.prisma.hpf
Due: prettier --write, eslint --fix
