Repository tractr/traxion: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,json}": "prettier --write",
  "*.{js,jsx,ts,tsx,html,json}": "eslint --fix"
}

fix: update package configuration to be able to publish nestjs graphql package :
  libs/nestjs/graphql/package.json
  libs/nestjs/graphql/project.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix: update package configuration to be able to publish nestjs graphql package (#429)
  libs/nestjs/graphql/package.json
  libs/nestjs/graphql/project.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix: update installation documentation and add minor fix to graphql templates
  libs/hapify/templates/nestjs-graphql/README.md
  libs/hapify/templates/nestjs-graphql/hapify/generated/nestjs-graphql/src/resolvers/__kebab__.resolver.ts.hpf
Due: prettier --write

fix: add good types in PrismaExceptionFilter
  libs/nestjs/core/mocks/prisma-exception-endpoint-mock.controller.ts
  libs/nestjs/core/src/filters/index.ts
  libs/nestjs/core/src/filters/prisma-exception.filter.ts
  libs/nestjs/core/src/index.ts
  libs/nestjs/core/src/interceptors/prisma-exception.interceptor.ts
Due: prettier --write, eslint --fix

fix: add good types in PrismaExceptionFilter (#431)
  libs/nestjs/core/mocks/prisma-exception-endpoint-mock.controller.ts
  libs/nestjs/core/src/filters/index.ts
  libs/nestjs/core/src/filters/prisma-exception.filter.ts
  libs/nestjs/core/src/index.ts
  libs/nestjs/core/src/interceptors/prisma-exception.interceptor.ts
Due: prettier --write, eslint --fix

fix: update installation documentation and add minor fix to graphql templates (#430)
  libs/hapify/templates/nestjs-graphql/README.md
  libs/hapify/templates/nestjs-graphql/hapify/generated/nestjs-graphql/src/resolvers/__kebab__.resolver.ts.hpf
Due: prettier --write

fix(hapify-templates-react-admin): fix migration react-admin 4.1.0
  libs/hapify/templates/react-admin/hapify/generated/react-admin/resources/__pascal__/Write.tsx.hpf
Due: none

fix(hapify-templates-react-admin): fix migration react-admin 4.1.0 (#432)
  libs/hapify/templates/react-admin/hapify/generated/react-admin/resources/__pascal__/Write.tsx.hpf
Due: none

fix: use session storage only on production
  libs/angular/config/src/lib/helpers/bootstrap-app-with-config.helper.ts
Due: prettier --write, eslint --fix

docs: add terraform structure
  apps/docs/docs/how-to/terraform/configuration/index.md
  apps/docs/docs/how-to/terraform/index.md
  apps/docs/docs/how-to/terraform/troubleshooting/index.md
  apps/docs/docs/how-to/terraform/use-cases/add-another-environment.md
  apps/docs/docs/how-to/terraform/use-cases/create-a-new-service.md
  apps/docs/sidebars.js
  package-lock.json
Due: prettier --write, eslint --fix

docs: create terraform index
  apps/docs/docs/how-to/terraform/index.md
Due: prettier --write

docs: add terraform code architecture
  apps/docs/docs/how-to/terraform/configuration/index.md
  apps/docs/docs/how-to/terraform/index.md
Due: prettier --write

docs: fix broken link
  apps/docs/docs/introduction.md
Due: prettier --write

fix: add ignoreStorage props in BootstrapAppWithConfigOptions
  apps/pwa/src/main.ts
  libs/angular/config/src/lib/helpers/bootstrap-app-with-config.helper.ts
Due: prettier --write, eslint --fix

fix: use session storage only on production (#433)
  apps/pwa/src/main.ts
  libs/angular/config/src/lib/helpers/bootstrap-app-with-config.helper.ts
Due: prettier --write, eslint --fix

fix: update props linked to relation in react admin
  libs/hapify/templates/react-admin/hapify/generated/react-admin/resources/__pascal__/Write.tsx.hpf
Due: none

fix: update props linked to relation in react admin (#434)
  libs/hapify/templates/react-admin/hapify/generated/react-admin/resources/__pascal__/Write.tsx.hpf
Due: none

feat: add authorisation via casl to the graphql api
  hapify-models.json
  libs/generated/nestjs-graphql/.hapifyrc.js
  libs/generated/nestjs-graphql/project.json
  libs/generated/prisma/prisma/schemas/base.prisma
  libs/generated/prisma/src/index.ts
  libs/hapify/templates/casl/hapify/generated/casl/src/config/role-permission.config.ts.hpf
  libs/hapify/templates/nestjs-graphql/.hapifyrc.js
  libs/hapify/templates/nestjs-graphql/hapify/generated/nestjs-graphql/src/nestjs-graphql.constants.ts.hpf
  libs/hapify/templates/nestjs-graphql/hapify/generated/nestjs-graphql/src/resolvers/__kebab__.resolver.spec.ts.hpf
  libs/hapify/templates/nestjs-graphql/hapify/generated/nestjs-graphql/src/resolvers/__kebab__.resolver.ts.hpf
  libs/hapify/templates/nestjs-models-common/hapify/generated/nestjs-models-common/src/__kebab__/services/__kebab__.service.ts.hpf
  libs/hapify/templates/nestjs-models-rest/hapify/generated/nestjs-models-rest/src/__kebab__/controllers/__kebab__.controller.ts.hpf
  libs/nestjs/authentication/src/decorators/user.decorator.ts
  libs/nestjs/core/src/decorators/index.ts
  libs/nestjs/core/src/decorators/user.decorator.ts
Due: prettier --write, eslint --fix

fix: update check of ownership on primary key
  libs/generated/prisma/prisma/schemas/base.prisma
  libs/hapify/templates/nestjs-graphql/hapify/generated/nestjs-graphql/src/nestjs-graphql.constants.ts.hpf
  libs/hapify/templates/nestjs-graphql/hapify/generated/nestjs-graphql/src/resolvers/__kebab__.resolver.ts.hpf
  libs/hapify/templates/nestjs-models/hapify/generated/nestjs-models/src/__kebab__/__kebab__-model.module.ts.hpf
Due: none

fix: update the tests and linter
  .vscode/settings.json
  libs/common/src/lib/operators/array-changes.operator.spec.ts
  libs/hapify/templates/nestjs-graphql/hapify/generated/nestjs-graphql/src/resolvers/__kebab__.resolver.spec.ts.hpf
  libs/nestjs/sentry/src/lib/middlewares/prisma-middleware.ts
  libs/schematics/src/generators/admin-app/generator.spec.ts
  libs/schematics/src/generators/admin-app/helpers/add-files.helper.ts
  libs/schematics/src/generators/hapify-library/generator.spec.ts
  libs/schematics/src/generators/hapify-library/helpers/normalize-options.helper.ts
  libs/schematics/src/generators/init-workspace/generator.spec.ts
  libs/schematics/src/generators/pwa-app/generator.spec.ts
  libs/terraform/group/pool/src/lib/interfaces/ecs.interface.ts
  libs/terraform/service/ecs/src/lib/interfaces/service.interface.ts
Due: prettier --write, eslint --fix

feat: add casl to nestjs graphql (#435)
  .vscode/settings.json
  hapify-models.json
  libs/common/src/lib/operators/array-changes.operator.spec.ts
  libs/generated/nestjs-graphql/.hapifyrc.js
  libs/generated/nestjs-graphql/project.json
  libs/generated/prisma/prisma/schemas/base.prisma
  libs/generated/prisma/src/index.ts
  libs/hapify/templates/casl/hapify/generated/casl/src/config/role-permission.config.ts.hpf
  libs/hapify/templates/nestjs-graphql/.hapifyrc.js
  libs/hapify/templates/nestjs-graphql/hapify/generated/nestjs-graphql/src/nestjs-graphql.constants.ts.hpf
  libs/hapify/templates/nestjs-graphql/hapify/generated/nestjs-graphql/src/resolvers/__kebab__.resolver.spec.ts.hpf
  libs/hapify/templates/nestjs-graphql/hapify/generated/nestjs-graphql/src/resolvers/__kebab__.resolver.ts.hpf
  libs/hapify/templates/nestjs-models-common/hapify/generated/nestjs-models-common/src/__kebab__/services/__kebab__.service.ts.hpf
  libs/hapify/templates/nestjs-models-rest/hapify/generated/nestjs-models-rest/src/__kebab__/controllers/__kebab__.controller.ts.hpf
  libs/hapify/templates/nestjs-models/hapify/generated/nestjs-models/src/__kebab__/__kebab__-model.module.ts.hpf
  libs/nestjs/authentication/src/decorators/user.decorator.ts
  libs/nestjs/core/src/decorators/index.ts
  libs/nestjs/core/src/decorators/user.decorator.ts
  libs/nestjs/sentry/src/lib/middlewares/prisma-middleware.ts
  libs/schematics/src/generators/admin-app/generator.spec.ts
  libs/schematics/src/generators/admin-app/helpers/add-files.helper.ts
  libs/schematics/src/generators/hapify-library/generator.spec.ts
  libs/schematics/src/generators/hapify-library/helpers/normalize-options.helper.ts
  libs/schematics/src/generators/init-workspace/generator.spec.ts
  libs/schematics/src/generators/pwa-app/generator.spec.ts
  libs/terraform/group/pool/src/lib/interfaces/ecs.interface.ts
  libs/terraform/service/ecs/src/lib/interfaces/service.interface.ts
Due: prettier --write, eslint --fix
