Repository tractr/traxion: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,json}": "prettier --write",
  "*.{js,jsx,ts,tsx,html,json}": "eslint --fix"
}

feat: initialize a prisma generator library
  jest.config.ts
  libs/generated/prisma/prisma/schemas/base.prisma
  libs/generated/prisma/project.json
  libs/generators/graphql-resolvers/.babelrc
  libs/generators/graphql-resolvers/.eslintrc.json
  libs/generators/graphql-resolvers/README.md
  libs/generators/graphql-resolvers/jest.config.ts
  libs/generators/graphql-resolvers/package.json
  libs/generators/graphql-resolvers/project.json
  libs/generators/graphql-resolvers/src/index.ts
  libs/generators/graphql-resolvers/src/lib/bin.ts
  libs/generators/graphql-resolvers/src/lib/generators-graphql-resolvers.spec.ts
  libs/generators/graphql-resolvers/src/lib/generators-graphql-resolvers.ts
  libs/generators/graphql-resolvers/tsconfig.json
  libs/generators/graphql-resolvers/tsconfig.lib.json
  libs/generators/graphql-resolvers/tsconfig.spec.json
  package-lock.json
  package.json
  tools/npm-scripts/pregenerate.sh
  tsconfig.base.json
  workspace.json
Due: prettier --write, eslint --fix

feat: update the documentation of the docs app and remove deps from the root package
  apps/docs/.gitignore
  apps/docs/README.md
  apps/docs/docs/references/schematics/admin-app.mdx
  apps/docs/docs/references/schematics/eslint-config.mdx
  apps/docs/docs/references/schematics/github-workflows.mdx
  apps/docs/docs/references/schematics/hapify-library.mdx
  apps/docs/docs/references/schematics/npm-publish.mdx
  apps/docs/docs/references/schematics/prettier-config.mdx
  apps/docs/docs/references/schematics/prisma-library.mdx
  apps/docs/docs/references/schematics/release.mdx
  apps/docs/docs/references/schematics/target-generate.mdx
  apps/docs/docs/references/schematics/traxion-workspace.mdx
  apps/docs/package.json
  apps/docs/project.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

feat: update the documentation of the docs app and remove deps from the root package (#547)
  apps/docs/.gitignore
  apps/docs/README.md
  apps/docs/docs/references/schematics/admin-app.mdx
  apps/docs/docs/references/schematics/eslint-config.mdx
  apps/docs/docs/references/schematics/github-workflows.mdx
  apps/docs/docs/references/schematics/hapify-library.mdx
  apps/docs/docs/references/schematics/npm-publish.mdx
  apps/docs/docs/references/schematics/prettier-config.mdx
  apps/docs/docs/references/schematics/prisma-library.mdx
  apps/docs/docs/references/schematics/release.mdx
  apps/docs/docs/references/schematics/target-generate.mdx
  apps/docs/docs/references/schematics/traxion-workspace.mdx
  apps/docs/package.json
  apps/docs/project.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

build: change base url
  apps/docs/docusaurus.config.js
Due: prettier --write, eslint --fix

build: change base url (#548)
  apps/docs/docusaurus.config.js
Due: prettier --write, eslint --fix

fix: change id
  apps/docs/docs/contribution/style-and-layout.md
Due: prettier --write

fix(docs): change dev url
  apps/docs/README.md
Due: prettier --write

feat: write a basic generator with ts-morph
  libs/generated/prisma/prisma/schemas/base.prisma
  libs/generators/graphql-resolvers/README.md
  libs/generators/graphql-resolvers/package.json
  libs/generators/graphql-resolvers/src/bin.ts
  libs/generators/graphql-resolvers/src/index.ts
  libs/generators/graphql-resolvers/src/lib/bin.ts
  libs/generators/graphql-resolvers/src/lib/generate.ts
  libs/generators/graphql-resolvers/src/lib/generators-graphql-resolvers.spec.ts
  libs/generators/graphql-resolvers/src/lib/generators-graphql-resolvers.ts
  libs/generators/graphql-resolvers/src/lib/generators/controller.generator.spec.ts
  libs/generators/graphql-resolvers/src/lib/generators/controller.generator.ts
  libs/generators/graphql-resolvers/src/lib/generators/dto.generator.ts
  libs/generators/graphql-resolvers/src/lib/helpers/index.ts
  libs/generators/graphql-resolvers/src/lib/helpers/type.helper.ts
  libs/generators/graphql-resolvers/src/lib/helpers/unique.helper.ts
Due: prettier --write, eslint --fix

feat(docs): add style-and-layout
  apps/docs/docs/contribution/style-and-layout.md
Due: prettier --write

refactor(docs): move page
  apps/docs/docs/contribution/documentation-guidelines.md
  apps/docs/docs/contribution/style-and-layout.md
  apps/docs/sidebars.js
Due: prettier --write, eslint --fix

build(docs): add CNAME file
  apps/docs/static/CNAME
Due: none

feat(docs): add Terraform tutorials
  apps/docs/docs/how-to/terraform/add-a-new-environment.md
  apps/docs/docs/how-to/terraform/create-new-service.md
  apps/docs/docs/how-to/terraform/ecs-components.md
  apps/docs/sidebars.js
Due: prettier --write, eslint --fix

feat(docs): add use-minio tutorials
  apps/docs/docs/how-to/file-storage/upload-a-file-to-aws-s3.md
  apps/docs/docs/how-to/file-storage/use-minio.md
  apps/docs/docs/how-to/file-storage/use-minio/minio-0.png
  apps/docs/docs/how-to/file-storage/use-minio/minio-1.png
  apps/docs/docs/how-to/file-storage/use-minio/minio-2.png
  apps/docs/docs/how-to/file-storage/use-minio/minio-3.png
  apps/docs/docs/how-to/file-storage/use-minio/minio-4.png
  apps/docs/docs/how-to/file-storage/use-minio/minio-5.png
  apps/docs/docs/how-to/file-storage/use-minio/minio-6.png
  apps/docs/docs/how-to/file-storage/use-minio/minio-7.png
  apps/docs/sidebars.js
Due: prettier --write, eslint --fix

feat(docs): add second part of file-storage-on-aws-s3.md
  apps/docs/docs/how-to/file-storage/file-storage-on-aws-s3.md
  apps/docs/docs/how-to/file-storage/upload-a-file-to-aws-s3.md
  apps/docs/sidebars.js
Due: prettier --write, eslint --fix

feat(docs): add generated-vs-custom-code
  apps/docs/docs/get-started/generated-vs-custom-code.md
  apps/docs/sidebars.js
Due: prettier --write, eslint --fix

feat(docs): add database-migration-with-prisma
  apps/docs/docs/how-to/database/database-migration-with-prisma.md
  apps/docs/docs/how-to/documentation/index.md
  apps/docs/sidebars.js
Due: prettier --write, eslint --fix

feat(docs): add partial file-storage-on-aws-s3
  apps/docs/docs/how-to/file-storage/file-storage-on-aws-s3.md
  apps/docs/docs/how-to/file-storage/upload-a-file-to-aws-s3.md
  apps/docs/docs/how-to/terraform/create-new-service.md
  apps/docs/sidebars.js
Due: prettier --write, eslint --fix

chore(docs): fix file-storage-on-aws-s3
  apps/docs/docs/how-to/file-storage/file-storage-on-aws-s3.md
Due: prettier --write

feat(docs): add configure-lazy-loading
  apps/docs/docs/how-to/angular/configure-lazy-loading.md
  apps/docs/sidebars.js
Due: prettier --write, eslint --fix

feat(docs): add configure-storybook
  apps/docs/docs/how-to/angular/configure-lazy-loading.md
  apps/docs/docs/how-to/angular/configure-storybook.md
  apps/docs/sidebars.js
Due: prettier --write, eslint --fix

feat(docs): add configure-tailwind-css
  apps/docs/docs/how-to/angular/configure-storybook.md
  apps/docs/docs/how-to/angular/configure-tailwind-css.md
  apps/docs/sidebars.js
Due: prettier --write, eslint --fix

docs: add link to website
  README.md
Due: prettier --write

feat(docs): add extend-a-generated-controller
  apps/docs/docs/how-to/nestjs/extend-a-generated-controller.md
  apps/docs/docs/how-to/nestjs/img/rest-structure.png
  apps/docs/sidebars.js
Due: prettier --write, eslint --fix

refactor(docs): remove index in categories
  apps/docs/docs/how-to/database/configuration.md
  apps/docs/docs/how-to/documentation/add-docusaurus.md
  apps/docs/docs/how-to/file-storage/index.md
  apps/docs/docs/how-to/terraform/introduction.md
  apps/docs/sidebars.js
Due: prettier --write, eslint --fix

fix(docs): change broken link
  apps/docs/docusaurus.config.js
Due: prettier --write, eslint --fix

feat: add a filter for unauthoticated response
  libs/nestjs/authentication/src/authentication.module.spec.ts
  libs/nestjs/authentication/src/authentication.module.ts
  libs/nestjs/authentication/src/filters/index.ts
  libs/nestjs/authentication/src/filters/unauthorized.filter.ts
Due: prettier --write, eslint --fix

fix(docs): change broken link
  apps/docs/docs/get-started/generated-vs-custom-code.md
  apps/docs/docs/how-to/terraform/introduction.md
  apps/docs/docs/references/schematics/_installation-warning.mdx
Due: prettier --write

chore: remove create-traxion-workspace from the repository
  apps/docs/docs/get-started/index.md
  libs/hapify/create-traxion-workspace/.babelrc
  libs/hapify/create-traxion-workspace/.eslintrc.json
  libs/hapify/create-traxion-workspace/CHANGELOG.md
  libs/hapify/create-traxion-workspace/README.md
  libs/hapify/create-traxion-workspace/bin/create-traxion-workspace.ts
  libs/hapify/create-traxion-workspace/jest.config.js
  libs/hapify/create-traxion-workspace/package.json
  libs/hapify/create-traxion-workspace/project.json
  libs/hapify/create-traxion-workspace/src/index.ts
  libs/hapify/create-traxion-workspace/tsconfig.json
  libs/hapify/create-traxion-workspace/tsconfig.lib.json
  libs/hapify/create-traxion-workspace/tsconfig.spec.json
  workspace.json
Due: prettier --write, eslint --fix

WIP: clean the schematics to respect our new organisation
  .vscode/settings.json
  libs/schematics/src/generators/eslint-config/files/__template__.eslintignore
  libs/schematics/src/generators/eslint-config/generator.ts
  libs/schematics/src/generators/eslint-config/schema.d.ts
  libs/schematics/src/generators/eslint-config/schema.json
  libs/schematics/src/generators/hapify-library/generator.ts
  libs/schematics/src/generators/hapify-library/helpers/normalize-options.helper.ts
  libs/schematics/src/generators/hapify-library/schema.d.ts
  libs/schematics/src/generators/hapify-library/schema.json
  libs/schematics/src/generators/traxion-workspace/generator.ts
  libs/schematics/src/generators/traxion-workspace/helpers/add-workspace-files.helper.ts
  libs/schematics/src/generators/traxion-workspace/helpers/create-admin-application.helper.ts
  libs/schematics/src/generators/traxion-workspace/helpers/create-angular-application.helper.ts
  libs/schematics/src/generators/traxion-workspace/helpers/create-nestjs-application.helper.ts
  libs/schematics/src/generators/traxion-workspace/helpers/create-template-libraries.helper.ts
  libs/schematics/src/generators/traxion-workspace/helpers/normalize-options.helper.ts
  libs/schematics/src/generators/traxion-workspace/schema.d.ts
  libs/schematics/src/generators/traxion-workspace/schema.json
  libs/schematics/src/schematics.constants.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

wip: update schematics
  libs/schematics/package.json
  libs/schematics/packages-versions.constant.ts
  libs/schematics/project.json
  libs/schematics/src/generators/hapify-library/generator.ts
  libs/schematics/src/generators/hapify-library/helpers/add-implicit-dependencies.helper.ts
  libs/schematics/src/generators/hapify-library/helpers/generate-library.helper.ts
  libs/schematics/src/generators/init-workspace/generator.ts
  libs/schematics/src/generators/init-workspace/helpers/add-npmrc.helper.ts
  libs/schematics/src/generators/init-workspace/helpers/index.ts
  libs/schematics/src/generators/traxion-workspace/generator.ts
  libs/schematics/src/generators/traxion-workspace/helpers/add-workspace-files.helper.ts
  libs/schematics/src/generators/traxion-workspace/helpers/index.ts
  libs/schematics/src/generators/traxion-workspace/schema.d.ts
  libs/schematics/src/generators/traxion-workspace/schema.json
  libs/schematics/src/helpers/index.ts
  libs/schematics/src/helpers/logger.ts
  libs/schematics/src/schematics.constants.ts
  libs/schematics/tsconfig.lib.json
  package.json
Due: prettier --write, eslint --fix

feat: solve discussions
  libs/nestjs/authentication/src/authentication.module.ts
  libs/nestjs/authentication/src/filters/unauthorized.filter.ts
Due: prettier --write, eslint --fix

feat: simplify the response
  libs/nestjs/authentication/src/filters/unauthorized.filter.ts
Due: prettier --write, eslint --fix

fix: update schematics to reflect how the new organisation is using nx and the packages
  jest.config.ts
  libs/schematics/package.json
  libs/schematics/src/generators/hapify-library/helpers/generate-library.helper.ts
  package.json
  workspace/project.json
Due: prettier --write, eslint --fix

feat: add endpoint for prisma schema
  libs/nestjs/database/src/controllers/index.ts
  libs/nestjs/database/src/controllers/schema.controller.ts
  libs/nestjs/database/src/database.module-definition.ts
  libs/nestjs/database/src/database.module.ts
  libs/nestjs/database/src/interfaces/database-module-options.interface.ts
  libs/nestjs/database/src/interfaces/index.ts
Due: prettier --write, eslint --fix
