Repository tractr/traxion: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,html,json}": "eslint --fix",
  "*.{js,jsx,ts,tsx,md,html,css,json}": "prettier --write"
}

test: add test for services in service generators
  libs/hapify/generators/nestjs-services/src/generators/service/delete-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/find-first-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/find-many-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/find-unique-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/imports.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/index.generator.ts
  libs/hapify/generators/nestjs-services/src/generators/service/service-defaults.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/service.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/update-many-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/update-many-method.generator.ts
  libs/hapify/generators/nestjs-services/src/generators/service/update-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/upsert-method.generator.spec.ts
Due: eslint --fix, prettier --write

feat: add graphql resolver to api-prisma
  examples/api-prisma/src/nestjs-services/services/right-defaults.service.ts
  examples/api-prisma/src/nestjs-services/services/role-defaults.service.ts
  examples/api-prisma/src/nestjs-services/services/user-defaults.service.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/resolver/constructor.generator.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/resolver/imports.generator.ts
  libs/hapify/prisma/nestjs-graphql-resolvers-generator/src/generator.ts
Due: eslint --fix, prettier --write

feat: example folder with api-prisma nestjs app
  examples/api-prisma/src/app/.gitkeep
  examples/api-prisma/src/app/app.controller.spec.ts
  examples/api-prisma/src/app/app.controller.ts
  examples/api-prisma/src/app/app.service.spec.ts
  examples/api-prisma/src/app/app.service.ts
  examples/api-prisma/src/assets/.gitkeep
  examples/api-prisma/webpack.config.js
Due: eslint --fix, prettier --write

test: tests for dto - imports - module generator in graphql-generator
  libs/hapify/generators/graphql-resolvers/src/lib/generators/dto/dto.generator.spec.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/dto/imports.generator.spec.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/module-definition/imports.generator.spec.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/module-definition/module.generator.spec.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/module/imports.generator.spec.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/module/module.generator.spec.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/module/module.generator.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/module/variable-statement.generator.spec.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/resolver/field-resolver.generator.spec.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/resolver/imports.generator.spec.ts
Due: eslint --fix, prettier --write

test: add tests for imports
  libs/hapify/generators/nestjs-services/src/generators/module/imports-definition.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/provider/imports.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/aggregate-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/aggregate-method.generator.ts
  libs/hapify/generators/nestjs-services/src/generators/service/constructor.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/count-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/count-method.generator.ts
  libs/hapify/generators/nestjs-services/src/generators/service/create-many-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/create-many-method.generator.ts
  libs/hapify/generators/nestjs-services/src/generators/service/create-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/create-method.generator.ts
  libs/hapify/generators/nestjs-services/src/generators/service/default-internals-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/delete-many-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/delete-many-method.generator.ts
  libs/hapify/generators/nestjs-services/src/generators/service/delete-method.generator.ts
  libs/hapify/generators/nestjs-services/src/generators/service/find-first-method.generator.ts
  libs/hapify/generators/nestjs-services/src/generators/service/find-many-method.generator.ts
  libs/hapify/generators/nestjs-services/src/generators/service/find-unique-method.generator.ts
  libs/hapify/generators/nestjs-services/src/generators/service/update-many-method.generator.ts
  libs/hapify/generators/nestjs-services/src/generators/service/update-method.generator.ts
  libs/hapify/generators/nestjs-services/src/generators/service/upsert-method.generator.ts
  libs/hapify/generators/nestjs-services/src/utils/index.generator.spec.ts
Due: eslint --fix, prettier --write

test: fix test for index generator
  libs/hapify/generators/graphql-resolvers/src/lib/generators/index.generator.spec.ts
Due: eslint --fix, prettier --write

test: add test for graphql resolver
  libs/hapify/generators/graphql-resolvers/src/lib/generators/index.generator.spec.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/resolver/constructor.generator.spec.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/resolver/create-method.generator.spec.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/resolver/delete-method.generator.spec.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/resolver/field-resolver.generator.spec.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/resolver/field-resolver.generator.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/resolver/find-many-method.generator.spec.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/resolver/find-unique-method.generator.spec.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/resolver/imports.generator.spec.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/resolver/update-method.generator.spec.ts
Due: eslint --fix, prettier --write

test: add tests for modules
  libs/hapify/generators/nestjs-services/src/generators/module/imports.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/provider/providers.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/provider/providers.generator.ts
  libs/hapify/generators/nestjs-services/src/generators/service/aggregate-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/constant.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/constructor.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/create-many-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/create-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/delete-many-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/find-first-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/find-many-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/find-unique-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/imports.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/serviceDefault/default-internals-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/serviceDefault/imports.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/serviceDefault/service-defaults.generator.spec.ts
Due: eslint --fix, prettier --write

fix: make the generate and serve works
  examples/api-prisma/src/app/.gitkeep
  examples/api-prisma/src/app/app.controller.spec.ts
  examples/api-prisma/src/app/app.controller.ts
  examples/api-prisma/src/app/app.service.spec.ts
  examples/api-prisma/src/app/app.service.ts
  examples/api-prisma/src/assets/.gitkeep
  examples/api-prisma/src/nestjs-services/services/right-defaults.service.ts
  examples/api-prisma/src/nestjs-services/services/role-defaults.service.ts
  examples/api-prisma/src/nestjs-services/services/user-defaults.service.ts
  examples/api-prisma/webpack.config.js
Due: eslint --fix, prettier --write

test: update resolver unit tests to match new types
  libs/hapify/generators/graphql-resolvers/src/lib/generators/resolver/create-method.generator.spec.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/resolver/delete-method.generator.spec.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/resolver/find-many-method.generator.spec.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/resolver/find-unique-method.generator.spec.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/resolver/imports.generator.spec.ts
  libs/hapify/generators/graphql-resolvers/src/lib/generators/resolver/update-method.generator.spec.ts
Due: eslint --fix, prettier --write

test: update resolver unit tests to match new types
  examples/api-prisma/src/nestjs-services/services/right-defaults.service.ts
  examples/api-prisma/src/nestjs-services/services/role-defaults.service.ts
  examples/api-prisma/src/nestjs-services/services/user-defaults.service.ts
  libs/hapify/generators/nestjs-services/src/generators/service/aggregate-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/count-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/create-many-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/create-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/create-method.generator.ts
  libs/hapify/generators/nestjs-services/src/generators/service/delete-many-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/delete-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/find-first-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/find-many-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/find-unique-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/update-many-method.generator.spec.ts
  libs/hapify/generators/nestjs-services/src/generators/service/upsert-method.generator.spec.ts
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

test: add unit test to model object of hapify-core
  libs/hapify/core/src/models/factories/has-some-field-factory.spec.ts
  libs/hapify/core/src/models/helpers/create-one-many-relation.ts
  libs/hapify/core/src/models/helpers/index.ts
  libs/hapify/core/src/models/helpers/relation.helpers.spec.ts
  libs/hapify/core/src/models/helpers/relation.helpers.ts
  libs/hapify/core/src/models/model.spec.ts
  libs/hapify/core/src/models/model.ts
  libs/hapify/core/src/models/predicates/has-some-field.spec.ts
  libs/hapify/core/src/models/predicates/is-model.spec.ts
  libs/hapify/core/src/models/predicates/is-model.ts
Due: eslint --fix, prettier --write

test: add unit test to model object of hapify-core (#611)
  libs/hapify/core/src/models/factories/has-some-field-factory.spec.ts
  libs/hapify/core/src/models/helpers/create-one-many-relation.ts
  libs/hapify/core/src/models/helpers/index.ts
  libs/hapify/core/src/models/helpers/relation.helpers.spec.ts
  libs/hapify/core/src/models/helpers/relation.helpers.ts
  libs/hapify/core/src/models/model.spec.ts
  libs/hapify/core/src/models/model.ts
  libs/hapify/core/src/models/predicates/has-some-field.spec.ts
  libs/hapify/core/src/models/predicates/is-model.spec.ts
  libs/hapify/core/src/models/predicates/is-model.ts
Due: eslint --fix, prettier --write

doc: add emoji to README.md
  README.md
Due: prettier --write

doc: add emoji to README.md (#614)
  README.md
Due: prettier --write

feat: add hapify graphq resolver casl generator library
  libs/hapify/generators/graphql-resolvers-casl/.babelrc
  libs/hapify/generators/graphql-resolvers-casl/.eslintrc.json
  libs/hapify/generators/graphql-resolvers-casl/README.md
  libs/hapify/generators/graphql-resolvers-casl/jest.config.ts
  libs/hapify/generators/graphql-resolvers-casl/package.json
  libs/hapify/generators/graphql-resolvers-casl/project.json
  libs/hapify/generators/graphql-resolvers-casl/src/index.ts
  libs/hapify/generators/graphql-resolvers-casl/src/lib/hapify-generators-graphql-resolvers-casl.spec.ts
  libs/hapify/generators/graphql-resolvers-casl/src/lib/hapify-generators-graphql-resolvers-casl.ts
  libs/hapify/generators/graphql-resolvers-casl/tsconfig.json
  libs/hapify/generators/graphql-resolvers-casl/tsconfig.lib.json
  libs/hapify/generators/graphql-resolvers-casl/tsconfig.spec.json
  package-lock.json
  package.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

feat: add prisma graphq resolver casl generator library
  libs/hapify/prisma/nestjs-graphql-resolvers-casl-generator/.babelrc
  libs/hapify/prisma/nestjs-graphql-resolvers-casl-generator/.eslintrc.json
  libs/hapify/prisma/nestjs-graphql-resolvers-casl-generator/README.md
  libs/hapify/prisma/nestjs-graphql-resolvers-casl-generator/jest.config.ts
  libs/hapify/prisma/nestjs-graphql-resolvers-casl-generator/package.json
  libs/hapify/prisma/nestjs-graphql-resolvers-casl-generator/project.json
  libs/hapify/prisma/nestjs-graphql-resolvers-casl-generator/src/index.ts
  libs/hapify/prisma/nestjs-graphql-resolvers-casl-generator/src/lib/hapify-prisma-nestjs-graphql-resolvers-casl-generator.spec.ts
  libs/hapify/prisma/nestjs-graphql-resolvers-casl-generator/src/lib/hapify-prisma-nestjs-graphql-resolvers-casl-generator.ts
  libs/hapify/prisma/nestjs-graphql-resolvers-casl-generator/tsconfig.json
  libs/hapify/prisma/nestjs-graphql-resolvers-casl-generator/tsconfig.lib.json
  libs/hapify/prisma/nestjs-graphql-resolvers-casl-generator/tsconfig.spec.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

fix(tools): fix build script
  tools/getting-started/build.sh
Due: none

ci: add tests for getting-started
  .github/workflows/getting-started.yml
  tools/getting-started/.gitignore
  tools/getting-started/build.sh
  tools/getting-started/files/app.env
  tools/getting-started/files/app.module.ts
  tools/getting-started/files/database.module.ts
  tools/getting-started/files/graphql.module.ts
  tools/getting-started/files/schema.prisma
  tools/getting-started/files/services.module.ts
  tools/getting-started/test.sh
Due: eslint --fix, prettier --write

fix(tools): change skip condition
  tools/local-install.mjs
Due: none

docs: fix db name in Getting started
  apps/docs/docs/index.md
Due: prettier --write

feat: add casl-target to example-api
  examples/api-prisma/prisma/schema.prisma
  examples/api-prisma/src/authorized-nestjs-resolvers/resolvers/right.resolver.ts
  examples/api-prisma/src/authorized-nestjs-resolvers/resolvers/role.resolver.ts
  examples/api-prisma/src/authorized-nestjs-resolvers/resolvers/user.resolver.ts
  examples/api-prisma/src/casl-target/can/can-action-right.ts
  examples/api-prisma/src/casl-target/can/can-action-role.ts
  examples/api-prisma/src/casl-target/can/can-action-user.ts
  examples/api-prisma/src/casl-target/can/index.ts
  examples/api-prisma/src/casl-target/constants/default-user-select.ts
  examples/api-prisma/src/casl-target/constants/index.ts
  examples/api-prisma/src/casl-target/constants/user-select-ownership-ids.constant.ts
  examples/api-prisma/src/casl-target/default-permission.ts
  examples/api-prisma/src/casl-target/helpers/get-select-prisma-user-query.ts
  examples/api-prisma/src/casl-target/helpers/index.ts
  examples/api-prisma/src/casl-target/index.ts
  examples/api-prisma/src/casl-target/policies/index.ts
  examples/api-prisma/src/casl-target/policies/policy-factory.ts
  examples/api-prisma/src/casl-target/policies/right-policies.ts
  examples/api-prisma/src/casl-target/policies/role-policies.ts
  examples/api-prisma/src/casl-target/policies/user-policies.ts
  examples/api-prisma/src/casl-target/types/app-ability.ts
  examples/api-prisma/src/casl-target/types/default-ownership-select.ts
  examples/api-prisma/src/casl-target/types/index.ts
  examples/api-prisma/src/casl-target/types/user-with-ownership-ids.ts
  libs/hapify/generators/graphql-resolvers-casl/src/lib/generate.ts
  libs/hapify/generators/graphql-resolvers-casl/src/lib/generators/decorators.generator.ts
  libs/hapify/generators/graphql-resolvers-casl/src/lib/generators/imports.generator.ts
  libs/hapify/generators/graphql-resolvers-casl/src/lib/generators/index.ts
  libs/hapify/generators/graphql-resolvers-casl/src/lib/generators/resolver-authorizations.generator.ts
  libs/nestjs/casl/CHANGELOG.md
  libs/nestjs/casl/package.json
  libs/nestjs/casl/src/interfaces/actions.interface.ts
  libs/nestjs/casl/src/interfaces/index.ts
Due: eslint --fix, prettier --write

feat: add hapfify-generotar-nestjs-authorized-services lib
  libs/hapify/generators/nestjs-authorized-services/.babelrc
  libs/hapify/generators/nestjs-authorized-services/.eslintrc.json
  libs/hapify/generators/nestjs-authorized-services/README.md
  libs/hapify/generators/nestjs-authorized-services/jest.config.ts
  libs/hapify/generators/nestjs-authorized-services/package.json
  libs/hapify/generators/nestjs-authorized-services/project.json
  libs/hapify/generators/nestjs-authorized-services/src/index.ts
  libs/hapify/generators/nestjs-authorized-services/src/lib/hapify-generators-nestjs-authorized-services.spec.ts
  libs/hapify/generators/nestjs-authorized-services/src/lib/hapify-generators-nestjs-authorized-services.ts
  libs/hapify/generators/nestjs-authorized-services/tsconfig.json
  libs/hapify/generators/nestjs-authorized-services/tsconfig.lib.json
  libs/hapify/generators/nestjs-authorized-services/tsconfig.spec.json
  tsconfig.base.json
Due: eslint --fix, prettier --write

feat: add prisma-nestjs-authorized-services-generator lib
  libs/hapify/prisma/nestjs-authorized-services-generator/.babelrc
  libs/hapify/prisma/nestjs-authorized-services-generator/.eslintrc.json
  libs/hapify/prisma/nestjs-authorized-services-generator/README.md
  libs/hapify/prisma/nestjs-authorized-services-generator/jest.config.ts
  libs/hapify/prisma/nestjs-authorized-services-generator/package.json
  libs/hapify/prisma/nestjs-authorized-services-generator/project.json
  libs/hapify/prisma/nestjs-authorized-services-generator/src/index.ts
  libs/hapify/prisma/nestjs-authorized-services-generator/src/lib/hapify-prisma-nestjs-authorized-services-generator.spec.ts
  libs/hapify/prisma/nestjs-authorized-services-generator/src/lib/hapify-prisma-nestjs-authorized-services-generator.ts
  libs/hapify/prisma/nestjs-authorized-services-generator/tsconfig.json
  libs/hapify/prisma/nestjs-authorized-services-generator/tsconfig.lib.json
  libs/hapify/prisma/nestjs-authorized-services-generator/tsconfig.spec.json
  tsconfig.base.json
Due: eslint --fix, prettier --write
