Repository tractr/traxion: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,json}": "prettier --write",
  "*.{js,jsx,ts,tsx,html,json}": "eslint --fix"
}

chore(release): 1.1.0
  libs/config/hapify/CHANGELOG.md
  libs/config/hapify/package.json
Due: prettier --write, eslint --fix

chore(release): 1.5.0
  libs/config/eslint/CHANGELOG.md
  libs/config/eslint/package.json
Due: prettier --write, eslint --fix

chore(release): 1.2.0
  libs/config/commit/CHANGELOG.md
  libs/config/commit/package.json
Due: prettier --write, eslint --fix

chore(release): 1.5.0
  libs/angular/tools/CHANGELOG.md
  libs/angular/tools/package.json
Due: prettier --write, eslint --fix

chore(release): 1.5.0
  apps/pwa/CHANGELOG.md
Due: prettier --write

chore(release): 1.11.0
  apps/api/CHANGELOG.md
Due: prettier --write

fix: update angular rext module and exports of configs
  .gitignore
  libs/@generated/angular/hapify.json
  libs/config/commit/src/index.ts
  libs/config/eslint/src/index.ts
  libs/config/prettier/src/index.ts
  libs/hapify/templates/angular-rext-client/.hapifyrc.js
  libs/hapify/templates/angular-rext-client/hapify/generated/angular-rext-client/angular-rext.module.ts.hpf
  libs/hapify/templates/angular-rext-client/hapify/generated/angular-rext-client/constants/configuration.constant.ts.hpf
  libs/hapify/templates/angular-rext-client/hapify/generated/angular-rext-client/constants/index.ts.hpf
  libs/hapify/templates/angular-rext-client/hapify/generated/angular-rext-client/interfaces/configuration.interface.ts.hpf
  libs/hapify/templates/angular-rext-client/hapify/generated/angular-rext-client/interfaces/index.ts.hpf
  libs/hapify/templates/angular-rext-client/hapify/generated/angular-rext-client/services/__kebab__.service.ts.hpf
Due: prettier --write, eslint --fix

fix: update angular rext module and exports of configs (#142)
  .gitignore
  libs/@generated/angular/hapify.json
  libs/config/commit/src/index.ts
  libs/config/eslint/src/index.ts
  libs/config/prettier/src/index.ts
  libs/hapify/templates/angular-rext-client/.hapifyrc.js
  libs/hapify/templates/angular-rext-client/hapify/generated/angular-rext-client/angular-rext.module.ts.hpf
  libs/hapify/templates/angular-rext-client/hapify/generated/angular-rext-client/constants/configuration.constant.ts.hpf
  libs/hapify/templates/angular-rext-client/hapify/generated/angular-rext-client/constants/index.ts.hpf
  libs/hapify/templates/angular-rext-client/hapify/generated/angular-rext-client/interfaces/configuration.interface.ts.hpf
  libs/hapify/templates/angular-rext-client/hapify/generated/angular-rext-client/interfaces/index.ts.hpf
  libs/hapify/templates/angular-rext-client/hapify/generated/angular-rext-client/services/__kebab__.service.ts.hpf
Due: prettier --write, eslint --fix

chore(release): 1.1.1
  libs/hapify/templates/angular-rext-client/CHANGELOG.md
  libs/hapify/templates/angular-rext-client/package.json
Due: prettier --write, eslint --fix

chore(release): 1.4.1
  libs/config/prettier/CHANGELOG.md
  libs/config/prettier/package.json
Due: prettier --write, eslint --fix

chore(release): 1.5.1
  libs/config/eslint/CHANGELOG.md
  libs/config/eslint/package.json
Due: prettier --write, eslint --fix

chore(release): 1.2.1
  libs/config/commit/CHANGELOG.md
  libs/config/commit/package.json
Due: prettier --write, eslint --fix

fix: fix release npm packages into the stacks
  .github/workflows/release.yml
  libs/hapify/generate-config/src/index.ts
  package-lock.json
  package.json
  workspace.json
Due: prettier --write, eslint --fix

feat: change npm release to add a latest tag on the main branch
  .github/workflows/release.yml
  package.json
Due: prettier --write, eslint --fix

fix: remove needs from the first npm-release jobs
  .github/workflows/release.yml
Due: none

feat: add ls -al to debug why no .git folder
  .github/workflows/release.yml
Due: none

fix: use gitaction ubuntu latest instead of self hosted
  .github/workflows/release.yml
Due: none

fix: exit 0 even if publish fail waiting semver to implement postbump action
  .github/workflows/release.yml
Due: none

fix: remove nx-publish branch from release workflow
  .github/workflows/release.yml
Due: none

fix: handle apps list correctly
  .github/workflows/release.yml
  .github/workflows/test.yml
Due: none

fix: configure the npm release and publish correctly (#143)
  .github/workflows/release.yml
  .github/workflows/test.yml
  libs/hapify/generate-config/src/index.ts
  package-lock.json
  package.json
  workspace.json
Due: prettier --write, eslint --fix

chore(release): 1.1.1
  libs/hapify/generate-config/CHANGELOG.md
  libs/hapify/generate-config/package.json
Due: prettier --write, eslint --fix

feat: create new authentication and rbac nestjs lib package
  jest.config.js
  libs/nestjs/authentication/.babelrc
  libs/nestjs/authentication/.eslintrc.json
  libs/nestjs/authentication/README.md
  libs/nestjs/authentication/jest.config.js
  libs/nestjs/authentication/src/index.ts
  libs/nestjs/authentication/src/lib/@tractr-nestjs-authentication.module.ts
  libs/nestjs/authentication/tsconfig.json
  libs/nestjs/authentication/tsconfig.lib.json
  libs/nestjs/authentication/tsconfig.spec.json
  libs/nestjs/rbac/.babelrc
  libs/nestjs/rbac/.eslintrc.json
  libs/nestjs/rbac/README.md
  libs/nestjs/rbac/jest.config.js
  libs/nestjs/rbac/src/index.ts
  libs/nestjs/rbac/src/lib/@tractr-nestjs-rbac.module.ts
  libs/nestjs/rbac/tsconfig.json
  libs/nestjs/rbac/tsconfig.lib.json
  libs/nestjs/rbac/tsconfig.spec.json
  nx.json
  package-lock.json
  tsconfig.base.json
  workspace.json
Due: prettier --write, eslint --fix

feat: add authentication integration tests (WIP)
  libs/nestjs/authentication/src/authentication.module.ts
  libs/nestjs/authentication/src/interfaces/authentication-module.interface.ts
  libs/nestjs/authentication/test/integration/authentication.module.spec.ts
  libs/nestjs/authentication/test/unit/services/auth.service.spec.ts
Due: prettier --write, eslint --fix

feat: add integration tests to the authentication controllers
  libs/hapify/generate-config/src/index.ts
  libs/nestjs/authentication/package.json
  libs/nestjs/authentication/src/authentication.module.ts
  libs/nestjs/authentication/src/config/authentication.config.ts
  libs/nestjs/authentication/src/controllers/login.controller.ts
  libs/nestjs/authentication/src/guards/index.ts
  libs/nestjs/authentication/src/guards/jwt-auth.guard.ts
  libs/nestjs/authentication/src/guards/jwt-global-auth.guard.ts
  libs/nestjs/authentication/src/guards/public-global-auth.guard.ts
  libs/nestjs/authentication/src/services/authentication.service.ts
  libs/nestjs/authentication/src/strategies/local.strategy.ts
  libs/nestjs/authentication/test/integration/authentication.module.spec.ts
  libs/nestjs/authentication/test/mock/authentication-endpoint-mock.controller.ts
  libs/nestjs/authentication/test/mock/jwt.service.mock.ts
  libs/nestjs/authentication/test/unit/config/auth.config.spec.ts
  libs/nestjs/authentication/test/unit/services/auth.service.spec.ts
  libs/nestjs/authentication/tsconfig.json
  libs/nestjs/database/src/services/database.service.ts
  package-lock.json
  package.json
  tsconfig.base.json
Due: prettier --write, eslint --fix

feat: add logout controller
  .github/workflows/release.yml
  .github/workflows/test.yml
  libs/nestjs/authentication/src/controllers/login.controller.ts
Due: prettier --write, eslint --fix
