Repository tractr/traxion: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,html,json}": "eslint --fix",
  "*.{js,jsx,ts,tsx,md,html,css,json}": "prettier --write"
}

fix: update casl configurations to be able to fetch correctly the user
  .vscode/launch.json
  examples/api-prisma/project.json
  examples/api-prisma/src/app/config/authorization.config.ts
Due: eslint --fix, prettier --write

fix: use the temp lib prisma-nestjs-graphql
  examples/api-prisma/project.json
  libs/hapify/prisma/nestjs-graphql-dtos-generator/src/generator.ts
  libs/hapify/prisma/nestjs-graphql-dtos-generator/src/prisma-nestjs-graphql.d.ts
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

fix: update the hidden metadata condition
  libs/hapify/devkit/src/fields/metadata-transformer/is-hidden-metadata.ts
Due: eslint --fix, prettier --write

fix: add lint capability on the generate
  tools/npm-scripts/pregenerate.sh
Due: none

feat: make the user roles configurable
  examples/api-prisma/prisma/schema.prisma
  examples/api-prisma/src/generated/casl/constants/user-select-ownership-ids.constant.ts
  examples/api-prisma/src/generated/modules/authentication.module.ts
  examples/api-prisma/src/generated/modules/configs/casl.config.ts
  examples/api-prisma/src/generated/nestjs-graphql-dtos/prisma/role.enum.ts
  examples/api-prisma/src/generated/nestjs-graphql-dtos/prisma/task-status.enum.ts
  examples/api-prisma/src/generated/nestjs-graphql-dtos/profile/profile.model.ts
  examples/api-prisma/src/generated/nestjs-graphql-dtos/task/task.model.ts
  examples/api-prisma/src/generated/nestjs-graphql-dtos/user/user.model.ts
  libs/hapify/core/src/helpers/get-user-model-from-schema.ts
  libs/hapify/generators/casl/src/generators/constants/user-select-with-ownership-ids.generator.ts
  libs/hapify/generators/nestjs-modules/src/generate.ts
  libs/hapify/generators/nestjs-modules/src/generators/authentication-module.generator.ts
  libs/hapify/generators/nestjs-modules/src/generators/casl-config.generator.ts
  libs/hapify/generators/traxion/src/generate.ts
  libs/hapify/prisma/nestjs-modules-generator/src/generator.ts
  libs/nestjs/casl/src/interfaces/casl.interface.ts
  libs/nestjs/casl/src/services/casl.service.ts
  peer-dependencies.json
Due: eslint --fix, prettier --write

fix: remove createMany method from services when using sqlite
  .vscode/settings.json
  examples/api-prisma/src/generated/casl/constants/user-select-ownership-ids.constant.ts
  examples/api-prisma/src/generated/modules/graphql.module.ts
  libs/hapify/core/src/helpers/create-schema.ts
  libs/hapify/core/src/models/model.ts
  libs/hapify/devkit/src/convert-dmmf-model-to-hapify-model.ts
  libs/hapify/generators/casl/src/generators/constants/user-select-with-ownership-ids.generator.ts
  libs/hapify/generators/nestjs-modules/src/generators/graphql-module.generator.ts
  libs/hapify/generators/nestjs-services/src/generate.ts
  libs/hapify/generators/nestjs-services/src/generators/service/service.generator.ts
  libs/hapify/generators/traxion/src/generate.ts
  libs/hapify/prisma/nestjs-services-generator/src/generator.ts
  libs/hapify/prisma/traxion-generator/src/generator.ts
Due: eslint --fix, prettier --write

feat: add getting started and prisma configuration
  apps/docs/docs/01-Overview/02-getting-started.md
  apps/docs/docs/01-Overview/03-configuration-prisma.md
  apps/docs/docs/02-GraphQL api/04-autorizations.md
  apps/docs/docs/ROADMAP.md
  libs/hapify/core/src/helpers/discover-ownership.ts
  libs/hapify/core/src/helpers/get-permission-level.ts
  libs/hapify/devkit/src/extract-metadata-from-documentation.ts
  libs/hapify/generators/casl/src/generators/default-permissions/default-permissions.generator.ts
Due: eslint --fix, prettier --write

docs: fix the documentation build
  apps/docs/docs/01-Overview/01-main-concepts.md
  apps/docs/docs/02-GraphQL api/code-architecture.md
Due: prettier --write

fix: update docs and fix authentication tests
  apps/docs/docs/01-Overview/02-getting-started.md
  apps/docs/docs/01-Overview/03-configuration-prisma.md
  apps/docs/docs/01-Overview/index.md
  apps/docs/docs/02-graphql-api/00-presentation.md
  apps/docs/docs/02-graphql-api/01-schema.md
  apps/docs/docs/02-graphql-api/02-resolvers.md
  apps/docs/docs/02-graphql-api/03-business.md
  apps/docs/docs/02-graphql-api/04-autorizations.md
  apps/docs/docs/02-graphql-api/code-architecture.md
  apps/docs/docs/02-graphql-api/index.md
  apps/docs/docs/index.md
  apps/docs/docusaurus.config.js
  apps/docs/src/pages/landing.js
  libs/nestjs/authentication/src/filters/unauthorized.filter.ts
  libs/nestjs/core/mocks/prisma-exception-endpoint-mock.controller.ts
  libs/nestjs/core/src/interceptors/prisma-exception.interceptor.ts
Due: eslint --fix, prettier --write

feat: add authentication graphql mutation and query
  apps/docs/docusaurus.config.js
  apps/docs/src/pages/landing.js
  examples/api-prisma/prisma/seed.ts
  examples/api-prisma/project.json
  examples/api-prisma/src/generated/modules/authentication.module.ts
  examples/api-prisma/src/generated/modules/resolvers/dtos/access-token.dtos.ts
  examples/api-prisma/src/generated/modules/resolvers/dtos/index.ts
  examples/api-prisma/src/generated/modules/resolvers/dtos/login-args.dtos.ts
  examples/api-prisma/src/generated/modules/resolvers/index.ts
  examples/api-prisma/src/generated/modules/resolvers/login.resolver.ts
  examples/api-prisma/src/generated/nestjs-services/services/user.service.ts
  libs/hapify/core/src/helpers/get-user-model-from-schema.ts
  libs/hapify/generators/nestjs-modules/src/config.types.ts
  libs/hapify/generators/nestjs-modules/src/generate.ts
  libs/hapify/generators/nestjs-modules/src/generators/authentication-module.generator.ts
  libs/hapify/generators/nestjs-modules/src/generators/login-resolver.generator.ts
  libs/hapify/generators/nestjs-services/src/generators/service/exclude-hidden-fields.generator.ts
  libs/hapify/generators/nestjs-services/src/generators/service/imports.generator.ts
  libs/hapify/generators/traxion/src/generate.ts
  libs/hapify/prisma/nestjs-modules-generator/src/generator.ts
  libs/nestjs/authentication/src/authentication.module.ts
  libs/nestjs/authentication/src/dtos/index.ts
  libs/nestjs/authentication/src/dtos/login-args.dto.ts
  libs/nestjs/authentication/src/filters/unauthorized.filter.ts
  libs/nestjs/authentication/src/resolvers/login.resolver.ts
  libs/nestjs/database/src/interfaces/prisma-select-field.interface.ts
Due: eslint --fix, prettier --write

fix: update the exception management
  libs/hapify/generators/nestjs-services/src/generators/service/imports.generator.spec.ts
  libs/nestjs/authentication/src/filters/unauthorized.filter.ts
Due: eslint --fix, prettier --write

fix: update getting started tests
  .github/workflows/getting-started.yml
  tools/getting-started/build.sh
  tools/getting-started/files/app.env
  tools/getting-started/files/app.module.ts
  tools/getting-started/files/database.module.ts
  tools/getting-started/files/graphql.module.ts
  tools/getting-started/files/schema.prisma
  tools/getting-started/files/seed.ts
  tools/getting-started/files/services.module.ts
  tools/getting-started/test.sh
  tools/local-install.mjs
Due: eslint --fix, prettier --write

docs: add getting started documentation
  apps/docs/docs/01-Overview/02-getting-started.md
Due: prettier --write

docs: add getting started documentation (#627)
  apps/docs/docs/01-Overview/02-getting-started.md
Due: prettier --write

docs: add authentication graphql request documentation
  apps/docs/docs/01-Overview/02-getting-started.md
Due: prettier --write
