Repository tractr/traxion: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,json}": "prettier --write",
  "*.{js,jsx,ts,tsx,html,json}": "eslint --fix"
}

feat: add generate executor schematics (#334)
  .github/workflows/release.yml
  .github/workflows/test.yml
  .gitignore
  apps/pwa/src/app/app.component.html
  libs/generated/.hapifyrc.js
  libs/generated/hapify.json
  libs/hapify/generate-config/package.json
  libs/hapify/generate-config/src/generate-config.ts
  libs/hapify/generate-config/src/hpf-generate-config.ts
  libs/hapify/generate-config/src/index.ts
  libs/hapify/hapify-common/package.json
  libs/hapify/hapify-common/src/get-hapify-config.spec.ts
  libs/hapify/hapify-common/src/get-hapify-config.ts
  libs/hapify/hapify-common/src/index.ts
  libs/hapify/update-templates-import-path/package.json
  libs/hapify/update-templates-import-path/src/hpf-update-templates-import-path.ts
  libs/hapify/update-templates-import-path/src/index.ts
  libs/hapify/update-templates-import-path/src/update-templates-import-path.spec.ts
  libs/hapify/update-templates-import-path/src/update-templates-import-path.ts
  libs/prisma/.hapifyrc.js
  libs/prisma/hapify.json
  libs/schematics/executors.json
  libs/schematics/src/executors/generate/executor.spec.ts
  libs/schematics/src/executors/generate/executor.ts
  libs/schematics/src/executors/generate/schema.d.ts
  libs/schematics/src/executors/generate/schema.json
  nx.json
  package-lock.json
  package.json
  workspace.json
Due: prettier --write, eslint --fix

fix: fix unique value type on templates (#335)
  hapify-models.json
  libs/hapify/templates/models/hapify/generated/models/mock/__kebab__.mock.ts.hpf
  libs/hapify/templates/models/hapify/generated/models/models/__kebab__.dto.ts.hpf
  libs/hapify/templates/models/hapify/generated/models/models/__kebab__.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-count-query.dto.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-create-body.dto.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-find-many-query.dto.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-update-body.dto.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-upsert-body.dto.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/mock/__kebab__/__kebab__-create-body.dto.mock.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/mock/__kebab__/__kebab__-update-body.dto.mock.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/mock/__kebab__/__kebab__-upsert-body.dto.mock.ts.hpf
  libs/nestjs/casl/test/mock/casl-endpoint-mock.controller.ts
Due: prettier --write, eslint --fix

test: add tests for helpers and file-storage (#329)
  libs/common/src/lib/helpers/is-class.helper.spec.ts
  libs/common/src/lib/helpers/is-class.helper.ts
  libs/common/src/lib/helpers/unique-array.helper.spec.ts
  libs/nestjs/file-storage/src/lib/file-storage.module.spec.ts
Due: prettier --write, eslint --fix

feat: bump prisma version to 3
  libs/nestjs/database/src/services/mysql.service.ts
  libs/nestjs/database/src/services/postgresql.service.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix: fix seed function when talking about JsonValue to null
  libs/hapify/templates/nestjs-models-common/hapify/generated/nestjs-models-common/mock/__kebab__/__kebab__.seed.ts.hpf
Due: none

feat: bump prisma version to 3 (#340)
  libs/hapify/templates/nestjs-models-common/hapify/generated/nestjs-models-common/mock/__kebab__/__kebab__.seed.ts.hpf
  libs/nestjs/database/src/services/mysql.service.ts
  libs/nestjs/database/src/services/postgresql.service.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

feat: add migration guide
  MIGRATIONS.md
  README.md
Due: prettier --write

fix: remove unused jest configuration
  libs/schematics/jest.config.js
Due: prettier --write, eslint --fix

feat: add test to nestjs-casl
  libs/nestjs/authentication/src/errors/bad-password.error.spec.ts
  libs/nestjs/authentication/src/errors/user-not-found.error.spec.ts
  libs/nestjs/authentication/src/interfaces/user.interface.ts
  libs/nestjs/authentication/src/services/authentication.service.ts
  libs/nestjs/authentication/src/services/password.service.ts
  libs/nestjs/casl/mocks/casl-endpoint-mock.controller.ts
  libs/nestjs/casl/mocks/casl-exception-endpoint-mock.controller.ts
  libs/nestjs/casl/mocks/index.ts
  libs/nestjs/casl/mocks/mock-authentication-guard.ts
  libs/nestjs/casl/mocks/policy-handler-class.mock.ts
  libs/nestjs/casl/mocks/role-permission.mock.ts
  libs/nestjs/casl/src/casl.module.spec.ts
  libs/nestjs/casl/src/guards/policies-guard.ts
  libs/nestjs/casl/src/interceptors/casl-exception.interceptor.spec.ts
  libs/nestjs/casl/src/interfaces/casl.interface.ts
  libs/nestjs/casl/src/services/casl.service.spec.ts
  libs/nestjs/casl/src/services/casl.service.ts
  libs/nestjs/casl/test/integration/casl.module.spec.ts
  libs/nestjs/casl/test/mock/casl-endpoint-mock.controller.ts
Due: prettier --write, eslint --fix

fix: update types from authentication tests
  libs/nestjs/authentication/src/controllers/login.controller.spec.ts
  libs/nestjs/casl/src/casl.module.spec.ts
Due: prettier --write, eslint --fix

feat: add test to nestjs-casl (#342)
  libs/nestjs/authentication/src/controllers/login.controller.spec.ts
  libs/nestjs/authentication/src/errors/bad-password.error.spec.ts
  libs/nestjs/authentication/src/errors/user-not-found.error.spec.ts
  libs/nestjs/authentication/src/interfaces/user.interface.ts
  libs/nestjs/authentication/src/services/authentication.service.ts
  libs/nestjs/authentication/src/services/password.service.ts
  libs/nestjs/casl/mocks/casl-endpoint-mock.controller.ts
  libs/nestjs/casl/mocks/casl-exception-endpoint-mock.controller.ts
  libs/nestjs/casl/mocks/index.ts
  libs/nestjs/casl/mocks/mock-authentication-guard.ts
  libs/nestjs/casl/mocks/policy-handler-class.mock.ts
  libs/nestjs/casl/mocks/role-permission.mock.ts
  libs/nestjs/casl/src/casl.module.spec.ts
  libs/nestjs/casl/src/guards/policies-guard.ts
  libs/nestjs/casl/src/interceptors/casl-exception.interceptor.spec.ts
  libs/nestjs/casl/src/interfaces/casl.interface.ts
  libs/nestjs/casl/src/services/casl.service.spec.ts
  libs/nestjs/casl/src/services/casl.service.ts
  libs/nestjs/casl/test/integration/casl.module.spec.ts
  libs/nestjs/casl/test/mock/casl-endpoint-mock.controller.ts
Due: prettier --write, eslint --fix

wip
  apps/api/src/main.ts
  libs/common/src/lib/helpers/url.helper.spec.ts
  libs/common/src/lib/helpers/url.helper.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix(rext-client): fix query params handler to handre arrays
  libs/common/src/lib/helpers/index.ts
  libs/common/src/lib/helpers/url.helper.spec.ts
  libs/common/src/lib/helpers/url.helper.ts
  libs/generated/hapify.json
  libs/hapify/templates/rext-client/.hapifyrc.js
  libs/hapify/templates/rext-client/hapify/generated/rext-client/helpers/index.ts.hpf
  libs/hapify/templates/rext-client/hapify/generated/rext-client/helpers/rest-ajax.ts.hpf
  libs/hapify/templates/rext-client/hapify/generated/rext-client/helpers/url.ts.hpf
Due: prettier --write, eslint --fix

fix(rext-client): fix query params handler to handre arrays (#343)
  apps/api/src/main.ts
  libs/common/src/lib/helpers/index.ts
  libs/common/src/lib/helpers/url.helper.spec.ts
  libs/common/src/lib/helpers/url.helper.ts
  libs/generated/hapify.json
  libs/hapify/templates/rext-client/.hapifyrc.js
  libs/hapify/templates/rext-client/hapify/generated/rext-client/helpers/index.ts.hpf
  libs/hapify/templates/rext-client/hapify/generated/rext-client/helpers/rest-ajax.ts.hpf
  libs/hapify/templates/rext-client/hapify/generated/rext-client/helpers/url.ts.hpf
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

docs: update migration guide
  MIGRATIONS.md
Due: prettier --write

docs: update migration guide (#344)
  MIGRATIONS.md
Due: prettier --write

fix: add a virtual library workspace for release purpose
  MIGRATIONS.md
  libs/workspace/project.json
  workspace.json
Due: prettier --write, eslint --fix

fix: add a virtual library workspace for release purpose (#345)
  MIGRATIONS.md
  libs/workspace/project.json
  workspace.json
Due: prettier --write, eslint --fix

fix: add publish target to @tractr/schematics package
  libs/schematics/project.json
Due: prettier --write, eslint --fix

fix: fix schematics unit tests and update packages peer deps
  apps/pwa/package.json
  libs/angular/casl/package.json
  libs/angular/components/package.json
  libs/angular/config/package.json
  libs/angular/file-storage/package.json
  libs/angular/form/package.json
  libs/angular/tools/package.json
  libs/common/package.json
  libs/config/commit/package.json
  libs/config/eslint/package.json
  libs/config/prettier/package.json
  libs/hapify/templates/angular-rext-client/package.json
  libs/hapify/templates/casl/package.json
  libs/hapify/templates/models/package.json
  libs/hapify/templates/nestjs-models-common/package.json
  libs/hapify/templates/nestjs-models-rest/package.json
  libs/hapify/templates/nestjs-models/package.json
  libs/hapify/templates/prisma/package.json
  libs/hapify/templates/react-admin/package.json
  libs/hapify/templates/rest-dtos/package.json
  libs/hapify/templates/rext-client/package.json
  libs/nestjs/authentication/package.json
  libs/schematics/src/generators/eslint-config/generator.spec.ts
  libs/schematics/src/generators/npm-publish/generator.spec.ts
  libs/schematics/src/generators/prettier-config/generator.spec.ts
  libs/schematics/src/generators/release/generator.spec.ts
  libs/terraform/aws-stack/package.json
  libs/terraform/component/aws/package.json
  libs/terraform/component/s3-user/package.json
  libs/terraform/component/s3/package.json
  libs/terraform/group/network/package.json
  libs/terraform/group/pool/package.json
  libs/terraform/group/registry/package.json
  libs/terraform/group/zone/package.json
  libs/terraform/service/api/package.json
  libs/terraform/service/postgres/package.json
  libs/terraform/service/pwa/package.json
Due: prettier --write, eslint --fix

fix: add publish target to schematics package (#347)
  apps/pwa/package.json
  libs/angular/casl/package.json
  libs/angular/components/package.json
  libs/angular/config/package.json
  libs/angular/file-storage/package.json
  libs/angular/form/package.json
  libs/angular/tools/package.json
  libs/common/package.json
  libs/config/commit/package.json
  libs/config/eslint/package.json
  libs/config/prettier/package.json
  libs/hapify/templates/angular-rext-client/package.json
  libs/hapify/templates/casl/package.json
  libs/hapify/templates/models/package.json
  libs/hapify/templates/nestjs-models-common/package.json
  libs/hapify/templates/nestjs-models-rest/package.json
  libs/hapify/templates/nestjs-models/package.json
  libs/hapify/templates/prisma/package.json
  libs/hapify/templates/react-admin/package.json
  libs/hapify/templates/rest-dtos/package.json
  libs/hapify/templates/rext-client/package.json
  libs/nestjs/authentication/package.json
  libs/schematics/project.json
  libs/schematics/src/generators/eslint-config/generator.spec.ts
  libs/schematics/src/generators/npm-publish/generator.spec.ts
  libs/schematics/src/generators/prettier-config/generator.spec.ts
  libs/schematics/src/generators/release/generator.spec.ts
  libs/terraform/aws-stack/package.json
  libs/terraform/component/aws/package.json
  libs/terraform/component/s3-user/package.json
  libs/terraform/component/s3/package.json
  libs/terraform/group/network/package.json
  libs/terraform/group/pool/package.json
  libs/terraform/group/registry/package.json
  libs/terraform/group/zone/package.json
  libs/terraform/service/api/package.json
  libs/terraform/service/postgres/package.json
  libs/terraform/service/pwa/package.json
Due: prettier --write, eslint --fix

ci: update package release workflow to fix jscutlery/semver bug with nx 13
  .github/workflows/release.yml
  MIGRATIONS.md
  apps/temporary-workspace/CHANGELOG.md
  apps/temporary-workspace/project.json
  package-lock.json
  package.json
  workspace.json
Due: prettier --write, eslint --fix

ci: update package release workflow to fix jscutlery/semver bug with nx 13 (#348)
  .github/workflows/release.yml
  MIGRATIONS.md
  apps/temporary-workspace/CHANGELOG.md
  apps/temporary-workspace/project.json
  package-lock.json
  package.json
  workspace.json
Due: prettier --write, eslint --fix

ci: limit release target to one process in parallel to avoid git race condition
  .github/workflows/release.yml
Due: none

ci: limit release target to one process in parallel to avoid git race condition (#349)
  .github/workflows/release.yml
Due: none

fix: update @tractr/hapify-update-templates-import-path and fix publish target
  libs/generated/project.json
  libs/hapify/update-templates-import-path/package.json
  libs/hapify/update-templates-import-path/project.json
  libs/schematics/src/executors/generate/executor.spec.ts
  libs/schematics/src/executors/generate/executor.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix

fix: update @tractr/hapify-update-templates-import-path and fix publish target (#350)
  libs/generated/project.json
  libs/hapify/update-templates-import-path/package.json
  libs/hapify/update-templates-import-path/project.json
  libs/schematics/src/executors/generate/executor.spec.ts
  libs/schematics/src/executors/generate/executor.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix
