Repository tractr/traxion: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,json}": "prettier --write",
  "*.{js,jsx,ts,tsx,html,json}": "eslint --fix"
}

fix: remove npm cache in gitactions (#304)
  .github/workflows/release.yml
Due: none

fix: handle correctly prisma errors on the http error layer (#323)
  apps/api/src/main.ts
  libs/nestjs/core/mock/prisma-exception-endpoint-mock.controller.ts
  libs/nestjs/core/src/interceptors/prisma-exception.interceptor.spec.ts
  libs/nestjs/core/src/interceptors/prisma-exception.interceptor.ts
Due: prettier --write, eslint --fix

feat: treat unique values on mock (#322)
  libs/generated/hapify.json
  libs/hapify/templates/models/.hapifyrc.js
  libs/hapify/templates/models/hapify/generated/models/mock/__kebab__.mock.ts.hpf
  libs/hapify/templates/models/hapify/generated/models/models/__kebab__.dto.ts.hpf
  libs/hapify/templates/models/hapify/generated/models/models/adf1bbca-4d99-46a3-b705-8059d34c04ba.jpg
  libs/hapify/templates/models/hapify/generated/models/models/index.ts.hpf
  libs/hapify/templates/nestjs-models-common/hapify/generated/nestjs-models-common/test/__kebab__/__kebab__-database.service.spec.ts.hpf
  libs/hapify/templates/nestjs-models-common/hapify/generated/nestjs-models-common/test/__kebab__/__kebab__.service.spec.ts.hpf
  libs/hapify/templates/nestjs-models-rest/hapify/generated/nestjs-models-rest/test/__kebab__/unit/__kebab__-rest-dto.service.spec.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/mock/__kebab__/__kebab__-count-query.dto.mock.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/mock/__kebab__/__kebab__-create-body.dto.mock.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/mock/__kebab__/__kebab__-delete-params.dto.mock.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/mock/__kebab__/__kebab__-find-unique-params.dto.mock.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/mock/__kebab__/__kebab__-find-unique-query.dto.mock.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/mock/__kebab__/__kebab__-update-body.dto.mock.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/mock/__kebab__/__kebab__-upsert-body.dto.mock.ts.hpf
Due: prettier --write, eslint --fix

feat: update angular authentication with dto check (#324)
  apps/pwa/src/app/app.module.ts
  apps/pwa/src/app/molecules/molecule-connected/molecule-connected.component.ts
  apps/pwa/src/app/molecules/molecule-home/molecule-home.component.ts
  apps/pwa/src/app/molecules/molecule-not-connected/molecule-not-connected.component.ts
  libs/angular/authentication/src/lib/authentication.module.ts
  libs/angular/authentication/src/lib/components/login/login.component.ts
  libs/angular/authentication/src/lib/components/logout/logout.component.ts
  libs/angular/authentication/src/lib/constants/injectors.constant.ts
  libs/angular/authentication/src/lib/directives/base-connected.directive.ts
  libs/angular/authentication/src/lib/dtos/authentication-options.dto.ts
  libs/angular/authentication/src/lib/guards/is-logged.guard.ts
  libs/angular/authentication/src/lib/guards/is-not-logged.guard.ts
  libs/angular/authentication/src/lib/interfaces/authentication-public-options.interface.ts
  libs/angular/authentication/src/lib/interfaces/index.ts
  libs/angular/authentication/src/lib/interfaces/session.interface.ts
  libs/angular/authentication/src/lib/services/session.service.ts
  libs/angular/casl/src/lib/guards/has-role.guard.ts
  libs/angular/casl/src/lib/services/angular-casl-update-abilities.service.ts
  libs/nestjs/authentication/src/controllers/login.controller.spec.ts
  libs/nestjs/authentication/src/services/authentication.service.spec.ts
  libs/nestjs/authentication/src/services/authentication.service.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix(angular-form): allow to change fielname in select model (#297)
  libs/angular/components/src/lib/model/select/select.component.ts
Due: prettier --write, eslint --fix

fix: update system field default assignation
  hapify-models.json
  libs/hapify/templates/nestjs-models-common/hapify/generated/nestjs-models-common/src/__kebab__/services/__kebab__.service.ts.hpf
  libs/hapify/templates/nestjs-models-rest/hapify/generated/nestjs-models-rest/src/__kebab__/services/__kebab__-rest-dto.service.ts.hpf
  libs/hapify/templates/nestjs-models-rest/hapify/generated/nestjs-models-rest/test/__kebab__/unit/__kebab__-rest-dto.service.spec.ts.hpf
Due: prettier --write, eslint --fix

docs: update project documentation (#54)
  README.md
Due: prettier --write

fix: try to fix URLSearchParamsType
  libs/common/src/lib/interfaces/index.ts
  libs/common/src/lib/interfaces/json.interface.ts
  libs/hapify/templates/models/hapify/generated/models/mock/__kebab__.mock.ts.hpf
  libs/hapify/templates/models/hapify/generated/models/models/__kebab__.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-count-query.dto.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-create-body.dto.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-find-many-query.dto.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-update-body.dto.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-upsert-body.dto.ts.hpf
  libs/hapify/templates/rext-client/hapify/generated/rext-client/helpers/url.ts.hpf
  libs/nestjs/authentication/src/decorators/user.decorators.spec.ts
  libs/nestjs/casl/src/decorators/abilities.decorator.ts
  libs/nestjs/casl/src/decorators/abitilties.decorators.spec.ts
  libs/nestjs/casl/src/decorators/index.ts
  package-lock.json
Due: prettier --write, eslint --fix

feat: add alert notification service (#68)
  apps/pwa/src/app/app.component.ts
  apps/pwa/src/assets/i18n/fr.json
  apps/pwa/src/styles.less
  libs/angular/alerts/features/src/lib/components/alert-details/alert-details.component.ts
  libs/angular/alerts/features/src/lib/components/alert-list-in-progress/alert-list-in-progress.component.ts
  libs/angular/alerts/utils/src/assets/notification.mp3
  libs/angular/alerts/utils/src/lib/angular-alerts-utils.module.ts
  libs/angular/alerts/utils/src/lib/services/alert-notification.service.ts
  libs/angular/alerts/utils/src/lib/services/alert-push-notification.service.ts
  libs/angular/alerts/utils/src/lib/services/index.ts
  libs/angular/common/ui/src/lib/angular-common-ui.module.ts
  libs/angular/common/utils/src/lib/angular-common-utils.module.ts
  workspace.json
Due: prettier --write, eslint --fix

fix: try to fix build
  .vscode/launch.json
  libs/hapify/templates/nestjs-models-rest/hapify/generated/nestjs-models-rest/src/__kebab__/services/__kebab__-rest-dto.service.ts.hpf
  workspace.json
Due: prettier --write, eslint --fix

feat: implement update import in template + test
  libs/hapify/generate-config/src/generate-config.spec.ts
  libs/hapify/generate-config/src/generate-config.ts
  libs/hapify/generate-config/src/index.ts
  libs/hapify/hapify-common/.babelrc
  libs/hapify/hapify-common/.eslintrc.json
  libs/hapify/hapify-common/README.md
  libs/hapify/hapify-common/jest.config.js
  libs/hapify/hapify-common/package.json
  libs/hapify/hapify-common/src/index.ts
  libs/hapify/hapify-common/src/lib/get-hapify-config.ts
  libs/hapify/hapify-common/tsconfig.json
  libs/hapify/hapify-common/tsconfig.lib.json
  libs/hapify/hapify-common/tsconfig.spec.json
  libs/hapify/update-templates-import-path/.babelrc
  libs/hapify/update-templates-import-path/.eslintrc.json
  libs/hapify/update-templates-import-path/README.md
  libs/hapify/update-templates-import-path/jest.config.js
  libs/hapify/update-templates-import-path/package.json
  libs/hapify/update-templates-import-path/src/index.ts
  libs/hapify/update-templates-import-path/src/update-templates-import-path.spec.ts
  libs/hapify/update-templates-import-path/src/update-templates-import-path.ts
  libs/hapify/update-templates-import-path/tsconfig.json
  libs/hapify/update-templates-import-path/tsconfig.lib.json
  libs/hapify/update-templates-import-path/tsconfig.spec.json
  nx.json
  package.json
  tsconfig.base.json
  workspace.json
Due: prettier --write, eslint --fix

fix: add InternalField to casl mock controller to match the new modelisation
  libs/nestjs/authentication/src/decorators/user.decorators.spec.ts
  libs/nestjs/casl/src/decorators/abilities.decorator.ts
  libs/nestjs/casl/src/decorators/abitilties.decorators.spec.ts
  libs/nestjs/casl/src/decorators/index.ts
  libs/nestjs/casl/test/mock/casl-endpoint-mock.controller.ts
Due: prettier --write, eslint --fix

fix: update system field default assignation (#327)
  .vscode/launch.json
  hapify-models.json
  libs/common/src/lib/interfaces/index.ts
  libs/common/src/lib/interfaces/json.interface.ts
  libs/hapify/templates/models/hapify/generated/models/mock/__kebab__.mock.ts.hpf
  libs/hapify/templates/models/hapify/generated/models/models/__kebab__.ts.hpf
  libs/hapify/templates/nestjs-models-common/hapify/generated/nestjs-models-common/src/__kebab__/services/__kebab__.service.ts.hpf
  libs/hapify/templates/nestjs-models-rest/hapify/generated/nestjs-models-rest/src/__kebab__/services/__kebab__-rest-dto.service.ts.hpf
  libs/hapify/templates/nestjs-models-rest/hapify/generated/nestjs-models-rest/test/__kebab__/unit/__kebab__-rest-dto.service.spec.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-count-query.dto.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-create-body.dto.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-find-many-query.dto.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-update-body.dto.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-upsert-body.dto.ts.hpf
  libs/hapify/templates/rext-client/hapify/generated/rext-client/helpers/url.ts.hpf
  libs/nestjs/casl/test/mock/casl-endpoint-mock.controller.ts
  package-lock.json
  workspace.json
Due: prettier --write, eslint --fix

test: add some tests with 100% coverage to hapify libs
  jest.config.js
  libs/hapify/generate-config/.babelrc
  libs/hapify/generate-config/.gitignore
  libs/hapify/generate-config/src/generate-config.spec.ts
  libs/hapify/generate-config/src/generate-config.ts
  libs/hapify/generate-config/src/index.ts
  libs/hapify/hapify-common/.gitignore
  libs/hapify/hapify-common/src/lib/get-hapify-config.spec.ts
  libs/hapify/hapify-common/src/lib/get-hapify-config.ts
  libs/hapify/update-templates-import-path/.gitignore
  libs/hapify/update-templates-import-path/src/index.ts
  libs/hapify/update-templates-import-path/src/update-templates-import-path.spec.ts
  libs/hapify/update-templates-import-path/src/update-templates-import-path.ts
  package.json
  workspace.json
Due: prettier --write, eslint --fix

fix: update rext client templates to handle query params
  libs/hapify/templates/rext-client/hapify/generated/rext-client/helpers/url.ts.hpf
Due: none

fix: update rext client templates to handle query params (#331)
  libs/hapify/templates/rext-client/hapify/generated/rext-client/helpers/url.ts.hpf
Due: none

fix: update url formater to handle all cases
  libs/hapify/templates/rext-client/hapify/generated/rext-client/helpers/url.ts.hpf
Due: none

fix: update url formater to handle all cases (#332)
  libs/hapify/templates/rext-client/hapify/generated/rext-client/helpers/url.ts.hpf
Due: none

feat: create executor to hapify generate command (WIP)
  libs/schematics/executors.json
  libs/schematics/src/executors/generate/executor.spec.ts
  libs/schematics/src/executors/generate/executor.ts
  libs/schematics/src/executors/generate/schema.d.ts
  libs/schematics/src/executors/generate/schema.json
  workspace.json
Due: prettier --write, eslint --fix

fix: update how the unique type is construct to take account of enum and datetime types
  libs/hapify/templates/models/hapify/generated/models/models/__kebab__.dto.ts.hpf
  libs/hapify/templates/models/hapify/generated/models/models/__kebab__.ts.hpf
Due: none

fix: fix cp lib to node module on prebuild
  libs/nestjs/core/mock/prisma-exception-endpoint-mock.controller.ts
  libs/nestjs/core/src/interceptors/prisma-exception.interceptor.spec.ts
  libs/nestjs/core/src/interceptors/prisma-exception.interceptor.ts
  nx.json
  workspace.json
Due: prettier --write, eslint --fix

fix(add depedencies on workspace.json): add depedencies on workspace.json
  workspace.json
Due: prettier --write, eslint --fix
