Repository tractr/traxion: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx,md,html,css,json}": "prettier --write",
  "*.{js,jsx,ts,tsx,html,json}": "eslint --fix"
}

api starts
  libs/hapify/templates/nestjs-graphql/hapify/generated/nestjs-graphql/src/resolvers/__kebab__.resolver.ts.hpf
Due: none

fix: update prisma middleware to hide foreign keys of hidden fields
  libs/hapify/templates/nestjs-models/hapify/generated/nestjs-models/src/__kebab__/__kebab__-middleware.module.ts.hpf
Due: none

fix: update the condition to resolve the field inside graphql
  libs/hapify/templates/nestjs-graphql/hapify/generated/nestjs-graphql/src/resolvers/__kebab__.resolver.ts.hpf
Due: none

fix: update the condition to resolve the field inside graphql (#527)
  libs/hapify/templates/nestjs-graphql/hapify/generated/nestjs-graphql/src/resolvers/__kebab__.resolver.ts.hpf
Due: none

fix: update prisma middleware to hide foreign keys of hidden fields (#526)
  libs/hapify/templates/nestjs-models/hapify/generated/nestjs-models/src/__kebab__/__kebab__-middleware.module.ts.hpf
Due: none

fix: make method as protected instead of private in LoggerService
  libs/nestjs/core/src/services/logger.service.ts
Due: prettier --write, eslint --fix

fix: make method as protected instead of private in LoggerService (#528)
  libs/nestjs/core/src/services/logger.service.ts
Due: prettier --write, eslint --fix

chore(deps): update dependency loader-utils [security]
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore(deps): update all non-major dependencies
  .github/workflows/semantic.yml
  package.json
Due: prettier --write, eslint --fix

chore(deps): update actions/checkout action to v3
  .github/workflows/chromatic.yml
  .github/workflows/release-docker.yml
  .github/workflows/release-npm.yml
  .github/workflows/stack-docs.yml
  .github/workflows/stack-e2e.yml
  .github/workflows/test.yml
Due: none

chore(deps): update actions/github-script action to v6
  .github/actions/affected-apps/action.yml
  .github/actions/update-tag/action.yml
Due: none

chore(deps): update amannn/action-semantic-pull-request action to v5
  .github/workflows/semantic.yml
Due: none

chore(deps): update commitlint monorepo to v17
  libs/config/commit/package.json
  package.json
Due: prettier --write, eslint --fix

chore(deps): update dependency eslint-import-resolver-typescript to v3
  libs/config/eslint/package.json
  package.json
Due: prettier --write, eslint --fix

chore(deps): update dependency husky to v8
  package.json
Due: prettier --write, eslint --fix

chore(deps): update dependency jest-preset-angular to v12
  package.json
Due: prettier --write, eslint --fix

fix(deps): update angular monorepo to v15
  apps/pwa/package.json
  libs/generated/angular-rext-client/package.json
  libs/generated/rest-dtos/package.json
  libs/generated/rext-client/package.json
  package.json
Due: prettier --write, eslint --fix

fix: put metadata log in the metadata property
  libs/nestjs/core/src/services/logger.service.ts
  libs/nestjs/database/src/services/database.service.ts
  libs/nestjs/winston/src/winston-nestjs-logger.format.ts
Due: prettier --write, eslint --fix

fix: update the logger to be able to override it (#529)
  libs/nestjs/core/src/services/logger.service.ts
  libs/nestjs/database/src/services/database.service.ts
  libs/nestjs/winston/src/winston-nestjs-logger.format.ts
Due: prettier --write, eslint --fix

fix: update logger stackTrace
  libs/nestjs/core/src/services/logger.service.spec.ts
  libs/nestjs/core/src/services/logger.service.ts
Due: prettier --write, eslint --fix

fix: add checkbox to hidden fields in react-admin
  libs/hapify/templates/react-admin/hapify/generated/react-admin/resources/__pascal__/Write.tsx.hpf
Due: none

fix: remove maxlength to be be able to searche on the primary fields
  libs/hapify/templates/react-admin/hapify/generated/react-admin/providers/rext.provider.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-count-query.dto.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-find-many-query.dto.ts.hpf
Due: none

fix: remove maxlength to be be able to searche on the primary fields (#531)
  libs/hapify/templates/react-admin/hapify/generated/react-admin/providers/rext.provider.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-count-query.dto.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-find-many-query.dto.ts.hpf
Due: none

fix: clean the workspace virtual project
  .vscode/settings.json
  project.json
  workspace.json
Due: prettier --write, eslint --fix

fix: use the tractr bot for the ci
  .github/workflows/stack-docs.yml
Due: none

fix: put the workspace project json into a specific folder
  workspace.json
  workspace/project.json
Due: prettier --write, eslint --fix

fix: update the tractr and stack ref
  libs/generated/nestjs-models-common/src/index.d.ts
  libs/generated/nestjs-models-common/src/index.js
  libs/generated/nestjs-models-common/src/index.js.map
  libs/generated/nestjs-models-rest/src/index.d.ts
  libs/generated/nestjs-models-rest/src/index.js
  libs/generated/nestjs-models-rest/src/index.js.map
  workspace/CHANGELOG.md
Due: prettier --write, eslint --fix

fix: remove CHANGELOG.md
  libs/CHANGELOG.md
Due: prettier --write
