Repository tractr/traxion: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: pagination and create hook for reacta dmin
  libs/hapify/templates/react-admin/hapify/generated/react-admin/providers/rext.provider.ts.hpf
Due: none

fix: add forgotten lib to import
  libs/hapify/templates/react-admin/hapify/generated/react-admin/providers/rext.provider.ts.hpf
Due: none

fix: pagination and create hook for react admin (#423)
  libs/hapify/templates/react-admin/hapify/generated/react-admin/providers/rext.provider.ts.hpf
Due: none

docs: add command about schematics
  README.md
Due: prettier --write

fix: logic for references on react admin
  libs/hapify/templates/react-admin/hapify/generated/react-admin/resources/__pascal__/Read.tsx.hpf
  libs/hapify/templates/react-admin/hapify/generated/react-admin/resources/__pascal__/Write.tsx.hpf
Due: none

fix: logic for references on react admin (#424)
  libs/hapify/templates/react-admin/hapify/generated/react-admin/resources/__pascal__/Read.tsx.hpf
  libs/hapify/templates/react-admin/hapify/generated/react-admin/resources/__pascal__/Write.tsx.hpf
Due: none

fix: close with the good closing tag the react admin template
  libs/hapify/templates/react-admin/hapify/generated/react-admin/resources/__pascal__/Read.tsx.hpf
Due: none

fix: update react admin entities (#425)
  libs/hapify/templates/react-admin/hapify/generated/react-admin/resources/__pascal__/Read.tsx.hpf
Due: none

fix: change the way data is fetching in the rext provider of react admin
  libs/hapify/templates/react-admin/hapify/generated/react-admin/providers/rext.provider.ts.hpf
Due: none

fix: change the way data is fetching in the rext provider of react admin (#426)
  libs/hapify/templates/react-admin/hapify/generated/react-admin/providers/rext.provider.ts.hpf
Due: none

feat: add query and resolver for nestjs graphql
  apps/api/src/app/app.module.ts
  apps/api/src/app/graphql.hook.ts
  apps/api/src/main.ts
  jest.config.js
  libs/generated/prisma/prisma/schemas/base.prisma
  libs/generated/prisma/project.json
  libs/hapify/templates/nestjs-graphql/.hapifyrc.js
  libs/hapify/templates/nestjs-graphql/hapify/generated/nestjs-graphql/index.ts.hpf
  libs/hapify/templates/nestjs-graphql/hapify/generated/nestjs-graphql/src/dtos/find-many-__kebab__.output.ts.hpf
  libs/hapify/templates/nestjs-graphql/hapify/generated/nestjs-graphql/src/dtos/index.ts.hpf
  libs/hapify/templates/nestjs-graphql/hapify/generated/nestjs-graphql/src/object-types/__kebab__.model.ts.hpf
  libs/hapify/templates/nestjs-graphql/hapify/generated/nestjs-graphql/src/resolvers/__kebab__.resolver.ts.hpf
  libs/nestjs/graphql/.babelrc
  libs/nestjs/graphql/.eslintrc.json
  libs/nestjs/graphql/README.md
  libs/nestjs/graphql/jest.config.js
  libs/nestjs/graphql/package.json
  libs/nestjs/graphql/src/helpers/find-many-pagination.ts
  libs/nestjs/graphql/src/helpers/index.ts
  libs/nestjs/graphql/src/index.ts
  libs/nestjs/graphql/tsconfig.json
  libs/nestjs/graphql/tsconfig.lib.json
  libs/nestjs/graphql/tsconfig.spec.json
  package-lock.json
  package.json
  tsconfig.base.json
  workspace.json
Due: prettier --write, eslint --fix

feat: add mutation to graphql templates
  apps/api/src/app/app.module.ts
  libs/generated/nestjs-graphql/CHANGELOG.md
  libs/generated/prisma/prisma/schemas/base.prisma
  libs/generated/prisma/project.json
  libs/hapify/templates/nestjs-graphql/CHANGELOG.md
  libs/hapify/templates/nestjs-graphql/hapify/generated/nestjs-graphql/src/resolvers/__kebab__.resolver.ts.hpf
  libs/hapify/templates/prisma/hapify/prisma/schemas/generated.prisma.hpf
  libs/nestjs/graphql/CHANGELOG.md
  workspace.json
Due: prettier --write, eslint --fix

feat: add documentation to hapify-templates-nestjs-graphql
  apps/api/src/app/app.module.ts
  apps/api/src/app/graphql.hook.ts
  libs/hapify/templates/nestjs-graphql/README.md
  libs/hapify/templates/nestjs-graphql/hapify/generated/nestjs-graphql/src/nestjs-graphql.module.ts.hpf
Due: prettier --write, eslint --fix

feat: write the graphql tests
  apps/api/src/app/app.module.spec.ts
  libs/generated/nestjs-graphql/jest.config.js
  libs/generated/nestjs-graphql/src/test-setup.ts
  libs/generated/nestjs-graphql/tsconfig.lib.json
  libs/generated/nestjs-graphql/tsconfig.spec.json
  libs/hapify/templates/nestjs-graphql/.hapifyrc.js
  libs/hapify/templates/nestjs-graphql/hapify/generated/nestjs-graphql/src/nestjs-graphql.module.ts.hpf
  libs/hapify/templates/nestjs-graphql/hapify/generated/nestjs-graphql/src/resolvers/__kebab__.resolver.spec.ts.hpf
  libs/hapify/templates/nestjs-graphql/hapify/generated/nestjs-graphql/src/resolvers/__kebab__.resolver.ts.hpf
  libs/nestjs/graphql/src/helpers/date.scalar.ts
  libs/nestjs/graphql/src/helpers/index.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix: remove test app spec
  apps/api/src/app/app.module.spec.ts
Due: prettier --write, eslint --fix

fix: update the build dependencies
  libs/generated/nestjs-graphql/project.json
Due: prettier --write, eslint --fix

feat: add code coverage to the stack repository
  .github/workflows/test-stack.yml
  .github/workflows/test.yml
Due: none

fix: update nestjs winston tests, update chromatic and stack gitaction, add codecoverage
  .github/workflows/chromatic.yml
  .github/workflows/semantic.yml
  .github/workflows/stack-release.yml
  .github/workflows/stack-semantic.yml
  .github/workflows/stack-test.yml
  .github/workflows/test.yml
  libs/nestjs/winston/src/winston-nestjs-logger.format.spec.ts
  libs/nestjs/winston/src/winston-nestjs-logger.format.ts
Due: prettier --write, eslint --fix

fix: update stack test workflow name
  .github/workflows/stack-test.yml
Due: none

fix: update nestjs-graphql project configuration from workspace to project.json
  libs/nestjs/graphql/project.json
  workspace.json
Due: prettier --write, eslint --fix

feat: add code coverage to the stack repository (#428)
  .github/workflows/chromatic.yml
  .github/workflows/semantic.yml
  .github/workflows/stack-release.yml
  .github/workflows/stack-semantic.yml
  .github/workflows/stack-test.yml
  .github/workflows/test.yml
  libs/nestjs/winston/src/winston-nestjs-logger.format.spec.ts
  libs/nestjs/winston/src/winston-nestjs-logger.format.ts
Due: prettier --write, eslint --fix

fix: update README information
  libs/hapify/templates/nestjs-graphql/README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,json}
  eslint --fix: any of: *.{js,jsx,ts,tsx,html,json}
