Repository tractr/traxion: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

fix: change TransformStringToInt template condition on create body dto
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-create-body.dto.ts.hpf
Due: none

fix: change TransformStringToInt template condition on create body dto (#154)
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-create-body.dto.ts.hpf
Due: none

chore(release): 1.3.2
  libs/hapify/templates/rest-dtos/CHANGELOG.md
  libs/hapify/templates/rest-dtos/package.json
Due: prettier --write, eslint --fix

refactor: make changes for PR #147
  libs/nestjs/mailer/package.json
  libs/nestjs/mailer/src/lib/services/mailer.service.ts
  nx.json
  package-lock.json
Due: prettier --write, eslint --fix

feat: create nestjs mailer module
  apps/api/src/cli.ts
  apps/api/tsconfig.json
  jest.config.js
  libs/nestjs/mailer/.babelrc
  libs/nestjs/mailer/.eslintrc.json
  libs/nestjs/mailer/README.md
  libs/nestjs/mailer/jest.config.js
  libs/nestjs/mailer/package.json
  libs/nestjs/mailer/src/index.ts
  libs/nestjs/mailer/src/lib/cli/index.ts
  libs/nestjs/mailer/src/lib/cli/mailer.cli.ts
  libs/nestjs/mailer/src/lib/configs/index.ts
  libs/nestjs/mailer/src/lib/configs/mailer.config.ts
  libs/nestjs/mailer/src/lib/constants/index.ts
  libs/nestjs/mailer/src/lib/constants/mailer.constants.ts
  libs/nestjs/mailer/src/lib/helpers/are-we-testing.ts
  libs/nestjs/mailer/src/lib/helpers/index.ts
  libs/nestjs/mailer/src/lib/interfaces/index.ts
  libs/nestjs/mailer/src/lib/interfaces/mailer.interface.ts
  libs/nestjs/mailer/src/lib/mailer.module.ts
  libs/nestjs/mailer/src/lib/services/index.ts
  libs/nestjs/mailer/src/lib/services/mailer.service.ts
  libs/nestjs/mailer/tsconfig.json
  libs/nestjs/mailer/tsconfig.lib.json
  libs/nestjs/mailer/tsconfig.spec.json
  nx.json
  package-lock.json
  package.json
  tsconfig.base.json
  workspace.json
Due: prettier --write, eslint --fix

fix: fix package-lock.json conflict
  package-lock.json
Due: prettier --write, eslint --fix

feat: create nestjs mailer module (#147)
  apps/api/src/cli.ts
  apps/api/tsconfig.json
  jest.config.js
  libs/nestjs/mailer/.babelrc
  libs/nestjs/mailer/.eslintrc.json
  libs/nestjs/mailer/README.md
  libs/nestjs/mailer/jest.config.js
  libs/nestjs/mailer/package.json
  libs/nestjs/mailer/src/index.ts
  libs/nestjs/mailer/src/lib/cli/index.ts
  libs/nestjs/mailer/src/lib/cli/mailer.cli.ts
  libs/nestjs/mailer/src/lib/configs/index.ts
  libs/nestjs/mailer/src/lib/configs/mailer.config.ts
  libs/nestjs/mailer/src/lib/constants/index.ts
  libs/nestjs/mailer/src/lib/constants/mailer.constants.ts
  libs/nestjs/mailer/src/lib/helpers/are-we-testing.ts
  libs/nestjs/mailer/src/lib/helpers/index.ts
  libs/nestjs/mailer/src/lib/interfaces/index.ts
  libs/nestjs/mailer/src/lib/interfaces/mailer.interface.ts
  libs/nestjs/mailer/src/lib/mailer.module.ts
  libs/nestjs/mailer/src/lib/services/index.ts
  libs/nestjs/mailer/src/lib/services/mailer.service.ts
  libs/nestjs/mailer/tsconfig.json
  libs/nestjs/mailer/tsconfig.lib.json
  libs/nestjs/mailer/tsconfig.spec.json
  nx.json
  package.json
  tsconfig.base.json
  workspace.json
Due: prettier --write, eslint --fix

chore(release): 0.1.0
  libs/nestjs/mailer/CHANGELOG.md
  libs/nestjs/mailer/package.json
Due: prettier --write, eslint --fix

chore(release): 1.14.0
  apps/api/CHANGELOG.md
  apps/api/package.json
Due: prettier --write, eslint --fix

fix: change populate behavior to parse correctly the query params (#153)
  .vscode/launch.json
  apps/api/src/app/app.module.ts
  apps/api/src/main.ts
  docker-compose.yml
  libs/hapify/templates/nestjs-models-rest/hapify/generated/nestjs-models-rest/src/helpers/format-populate.helper.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/dtos/__kebab__/__kebab__-find-many-query.dto.ts.hpf
  libs/hapify/templates/rest-dtos/hapify/generated/rest-dtos/helpers/transform.helper.ts.hpf
  package-lock.json
  package.json
  workspace.json
Due: prettier --write, eslint --fix

chore(release): 1.3.3
  libs/hapify/templates/rest-dtos/CHANGELOG.md
  libs/hapify/templates/rest-dtos/package.json
Due: prettier --write, eslint --fix

chore(release): 1.4.1
  libs/hapify/templates/nestjs-models-rest/CHANGELOG.md
  libs/hapify/templates/nestjs-models-rest/package.json
Due: prettier --write, eslint --fix

chore(release): 1.14.1
  apps/api/CHANGELOG.md
  apps/api/package.json
Due: prettier --write, eslint --fix

feat(angular-form): add error tip in form
  libs/angular/form/src/lib/form.component.ts
  libs/angular/form/src/lib/item/base/form-item-base.component.ts
  libs/angular/form/src/lib/item/date-picker/date-picker/form-date-picker.component.html
  libs/angular/form/src/lib/item/date-picker/date-picker/form-date-picker.component.ts
  libs/angular/form/src/lib/item/form-item.component.html
  libs/angular/form/src/lib/item/form-item.component.ts
  libs/angular/form/src/lib/item/input/number/form-input-number.component.html
  libs/angular/form/src/lib/item/input/number/form-input-number.component.ts
  libs/angular/form/src/lib/item/input/string/form-input-string.component.html
  libs/angular/form/src/lib/item/input/string/form-input-string.component.ts
  libs/angular/form/src/lib/item/select/radio/form-radio.component.html
  libs/angular/form/src/lib/item/select/radio/form-radio.component.ts
  libs/angular/form/src/lib/item/select/select/form-select.component.html
  libs/angular/form/src/lib/item/select/select/form-select.component.ts
Due: prettier --write, eslint --fix

feat(angular-components): add basic components
  libs/angular/components/src/index.ts
  libs/angular/components/src/lib/angular-components.module.ts
  libs/angular/components/src/lib/button/button.component.html
  libs/angular/components/src/lib/button/button.component.ts
  libs/angular/components/src/lib/button/button.module.ts
  libs/angular/components/src/lib/button/index.ts
  libs/angular/components/src/lib/date-picker/date-picker-base.component.ts
  libs/angular/components/src/lib/date-picker/date-picker.module.ts
  libs/angular/components/src/lib/date-picker/date-picker/date-picker.component.html
  libs/angular/components/src/lib/date-picker/date-picker/date-picker.component.less
  libs/angular/components/src/lib/date-picker/date-picker/date-picker.component.ts
  libs/angular/components/src/lib/date-picker/index.ts
  libs/angular/components/src/lib/input/index.ts
  libs/angular/components/src/lib/input/input-base.component.ts
  libs/angular/components/src/lib/input/input.module.ts
  libs/angular/components/src/lib/input/number/input-number.component.html
  libs/angular/components/src/lib/input/number/input-number.component.less
  libs/angular/components/src/lib/input/number/input-number.component.ts
  libs/angular/components/src/lib/input/string/input-string.component.html
  libs/angular/components/src/lib/input/string/input-string.component.less
  libs/angular/components/src/lib/input/string/input-string.component.ts
  libs/angular/components/src/lib/select/index.ts
  libs/angular/components/src/lib/select/interfaces/index.ts
  libs/angular/components/src/lib/select/interfaces/select.interface.ts
  libs/angular/components/src/lib/select/radio/radio.component.html
  libs/angular/components/src/lib/select/radio/radio.component.less
  libs/angular/components/src/lib/select/radio/radio.component.ts
  libs/angular/components/src/lib/select/select-base.component.ts
  libs/angular/components/src/lib/select/select.module.ts
  libs/angular/components/src/lib/select/select/select.component.html
  libs/angular/components/src/lib/select/select/select.component.less
  libs/angular/components/src/lib/select/select/select.component.ts
  workspace.json
Due: prettier --write, eslint --fix

feat(angular-components): allow to select multiple
  libs/angular/components/src/lib/checkbox/checkbox.component.ts
  libs/angular/components/src/lib/select/checkbox-group/checkbox-group.component.ts
  libs/angular/components/src/lib/select/select-base.component.ts
  libs/angular/components/src/lib/select/select/select.component.html
  libs/angular/components/src/lib/select/select/select.component.ts
Due: prettier --write, eslint --fix

feat(angular-form): add select mutiple and checkbox
  libs/angular/components/src/lib/select/checkbox-group/checkbox-group.component.html
  libs/angular/form/src/lib/form.module.ts
  libs/angular/form/src/lib/item/checkbox/form-checkbox.component.html
  libs/angular/form/src/lib/item/checkbox/form-checkbox.component.less
  libs/angular/form/src/lib/item/checkbox/form-checkbox.component.ts
  libs/angular/form/src/lib/item/checkbox/index.ts
  libs/angular/form/src/lib/item/index.ts
  libs/angular/form/src/lib/item/select/checkbox-group/form-checkbox-group.component.html
  libs/angular/form/src/lib/item/select/checkbox-group/form-checkbox-group.component.less
  libs/angular/form/src/lib/item/select/checkbox-group/form-checkbox-group.component.ts
  libs/angular/form/src/lib/item/select/form-select-base.component.ts
  libs/angular/form/src/lib/item/select/index.ts
Due: prettier --write, eslint --fix

feat(angular-components): fix linter error
  libs/angular/components/src/index.ts
  libs/angular/components/src/lib/checkbox/checkbox.component.ts
  libs/angular/components/src/lib/select/index.ts
  libs/angular/form/src/lib/item/select/checkbox-group/form-checkbox-group.component.ts
  libs/angular/form/src/lib/item/select/select/form-select.component.ts
Due: prettier --write, eslint --fix

feat(angular-components): remove nay type
  libs/angular/components/src/lib/checkbox/checkbox.component.ts
  libs/angular/components/src/lib/checkbox/index.ts
  libs/angular/components/src/lib/select/checkbox-group/checkbox-group.component.ts
  libs/angular/components/src/lib/select/interfaces/select.interface.ts
  libs/angular/components/src/lib/select/radio/radio.component.ts
  libs/angular/components/src/lib/select/select-base.component.ts
  libs/angular/components/src/lib/select/select/select.component.ts
  libs/angular/form/src/lib/item/base/form-item-base.component.ts
  libs/angular/form/src/lib/item/select/checkbox-group/form-checkbox-group.component.ts
  libs/angular/form/src/lib/item/select/form-select-base.component.ts
  libs/angular/form/src/lib/item/select/radio/form-radio.component.ts
  libs/angular/form/src/lib/item/select/select/form-select.component.ts
Due: prettier --write, eslint --fix

feat(angular-components): add checkbox group v1
  libs/angular/components/src/lib/angular-components.module.ts
  libs/angular/components/src/lib/checkbox/checkbox.component.html
  libs/angular/components/src/lib/checkbox/checkbox.component.less
  libs/angular/components/src/lib/checkbox/checkbox.component.ts
  libs/angular/components/src/lib/checkbox/checkbox.module.ts
  libs/angular/components/src/lib/checkbox/index.ts
  libs/angular/components/src/lib/select/checkbox-group/checkbox-group.component.html
  libs/angular/components/src/lib/select/checkbox-group/checkbox-group.component.less
  libs/angular/components/src/lib/select/checkbox-group/checkbox-group.component.ts
  libs/angular/components/src/lib/select/select.module.ts
Due: prettier --write, eslint --fix

feat(angular-form): add input number
  libs/angular/components/src/lib/input/input-base.component.ts
  libs/angular/components/src/lib/input/number/input-number.component.ts
  libs/angular/form/src/lib/form.module.ts
  libs/angular/form/src/lib/item/form-item.component.html
  libs/angular/form/src/lib/item/form-item.component.less
  libs/angular/form/src/lib/item/input/form-input-base.component.ts
  libs/angular/form/src/lib/item/input/index.ts
  libs/angular/form/src/lib/item/input/number/form-input-number.component.html
  libs/angular/form/src/lib/item/input/number/form-input-number.component.less
  libs/angular/form/src/lib/item/input/number/form-input-number.component.ts
Due: prettier --write, eslint --fix

chore(release): 0.1.0
  libs/angular/form/CHANGELOG.md
Due: prettier --write

chore(release): 0.2.0
  libs/angular/components/CHANGELOG.md
  libs/angular/components/package.json
Due: prettier --write, eslint --fix

fix: change the prisma query transformer from body to update relation fields only if we got a value
  libs/hapify/templates/nestjs-models-rest/hapify/generated/nestjs-models-rest/src/__kebab__/services/__kebab__-rest-dto.service.ts.hpf
Due: none

fix: change the prisma query transformer from body to update relation fields only if we got a value (#162)
  libs/hapify/templates/nestjs-models-rest/hapify/generated/nestjs-models-rest/src/__kebab__/services/__kebab__-rest-dto.service.ts.hpf
Due: none

Path conditions:
  prettier --write: any of: *.{js,jsx,ts,tsx,md,html,css,json}
  eslint --fix: any of: *.{js,jsx,ts,tsx,html,json}
